In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
dataset = pd.read_csv('train.csv')

In [3]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
le = preprocessing.LabelEncoder()

In [5]:
dataset.iloc[:,11] = le.fit_transform(dataset.iloc[:,11].astype(str))

In [6]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,2
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,2
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,2
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,2
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,2
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,2
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,2
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,1
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,2
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,2
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,2
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,2
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,2
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,2
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,2
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,2
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,1
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,2
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,2
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,2
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,2
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,2
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,2
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,2
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,2
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,2
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,2
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,2
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,2
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,2
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,2
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,2
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,2
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,2
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,1
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,2
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,1

In [7]:
dataset.iloc[:,4] = le.fit_transform(dataset.iloc[:,4])

In [8]:
dataset.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208,1.538721
std,257.353842,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429,0.794231
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400,1.000000
50%,446.000000,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200,2.000000
75%,668.500000,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000,2.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,3.000000

In [9]:
dataset["Age"] = dataset["Age"].fillna("29.69")

In [10]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35,0,0,373450,8.0500,NaN,2
5,6,0,3,"Moran, Mr. James",1,29.69,0,0,330877,8.4583,NaN,1
6,7,0,1,"McCarthy, Mr. Timothy J",1,54,0,0,17463,51.8625,E46,2
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2,3,1,349909,21.0750,NaN,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27,0,2,347742,11.1333,NaN,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14,1,0,237736,30.0708,NaN,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4,1,1,PP 9549,16.7000,G6,2
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58,0,0,113783,26.5500,C103,2
12,13,0,3,"Saundercock, Mr. William Henry",1,20,0,0,A/5. 2151,8.0500,NaN,2
13,14,0,3,"Andersson, Mr. Anders Johan",1,39,1,5,347082,31.2750,NaN,2
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14,0,0,350406,7.8542,NaN,2
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55,0,0,248706,16.0000,NaN,2
16,17,0,3,"Rice, Master. Eugene",1,2,4,1,382652,29.1250,NaN,1
17,18,1,2,"Williams, Mr. Charles Eugene",1,29.69,0,0,244373,13.0000,NaN,2
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31,1,0,345763,18.0000,NaN,2
19,20,1,3,"Masselmani, Mrs. Fatima",0,29.69,0,0,2649,7.2250,NaN,0
20,21,0,2,"Fynney, Mr. Joseph J",1,35,0,0,239865,26.0000,NaN,2
21,22,1,2,"Beesley, Mr. Lawrence",1,34,0,0,248698,13.0000,D56,2
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15,0,0,330923,8.0292,NaN,1
23,24,1,1,"Sloper, Mr. William Thompson",1,28,0,0,113788,35.5000,A6,2
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8,3,1,349909,21.0750,NaN,2
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38,1,5,347077,31.3875,NaN,2
26,27,0,3,"Emir, Mr. Farred Chehab",1,29.69,0,0,2631,7.2250,NaN,0
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19,3,2,19950,263.0000,C23 C25 C27,2
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,29.69,0,0,330959,7.8792,NaN,1
29,30,0,3,"Todoroff, Mr. Lalio",1,29.69,0,0,349216,7.8958,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21,1,0,28134,11.5000,NaN,2
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48,0,0,17466,25.9292,D17,2
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,29.69,8,2,CA. 2343,69.5500,NaN,2
864,865,0,2,"Gill, Mr. John William",1,24,0,0,233866,13.0000,NaN,2
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42,0,0,236852,13.0000,NaN,2
866,867,1,2,"Duran y More, Miss. Asuncion",0,27,1,0,SC/PARIS 2149,13.8583,NaN,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31,0,0,PC 17590,50.4958,A24,2
868,869,0,3,"van Melkebeke, Mr. Philemon",1,29.69,0,0,345777,9.5000,NaN,2
869,870,1,3,"Johnson, Master. Harold Theodor",1,4,1,1,347742,11.1333,NaN,2
870,871,0,3,"Balkic, Mr. Cerin",1,26,0,0,349248,7.8958,NaN,2
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47,1,1,11751,52.5542,D35,2
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33,0,0,695,5.0000,B51 B53 B55,2
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47,0,0,345765,9.0000,NaN,2
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28,1,0,P/PP 3381,24.0000,NaN,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15,0,0,2667,7.2250,NaN,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20,0,0,7534,9.8458,NaN,2
877,878,0,3,"Petroff, Mr. Nedelio",1,19,0,0,349212,7.8958,NaN,2
878,879,0,3,"Laleff, Mr. Kristo",1,29.69,0,0,349217,7.8958,NaN,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56,0,1,11767,83.1583,C50,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25,0,1,230433,26.0000,NaN,2
881,882,0,3,"Markun, Mr. Johann",1,33,0,0,349257,7.8958,NaN,2
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22,0,0,7552,10.5167,NaN,2
883,884,0,2,"Banfield, Mr. Frederick James",1,28,0,0,C.A./SOTON 34068,10.5000,NaN,2
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25,0,0,SOTON/OQ 392076,7.0500,NaN,2
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39,0,5,382652,29.1250,NaN,1
886,887,0,2,"Montvila, Rev. Juozas",1,27,0,0,211536,13.0000,NaN,2
887,888,1,1,"Graham, Miss. Margaret Edith",0,19,0,0,112053,30.0000,B42,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.69,1,2,W./C. 6607,23.4500,NaN,2
889,890,1,1,"Behr, Mr. Karl Howell",1,26,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",1,32,0,0,370376,7.7500,NaN,1

In [11]:
x = dataset['Name']

In [12]:
x

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [13]:
names = []
for i in x:
    y = i.split(",")
    names.append(y)

In [14]:
names

[['Braund', ' Mr. Owen Harris'],
 ['Cumings', ' Mrs. John Bradley (Florence Briggs Thayer)'],
 ['Heikkinen', ' Miss. Laina'],
 ['Futrelle', ' Mrs. Jacques Heath (Lily May Peel)'],
 ['Allen', ' Mr. William Henry'],
 ['Moran', ' Mr. James'],
 ['McCarthy', ' Mr. Timothy J'],
 ['Palsson', ' Master. Gosta Leonard'],
 ['Johnson', ' Mrs. Oscar W (Elisabeth Vilhelmina Berg)'],
 ['Nasser', ' Mrs. Nicholas (Adele Achem)'],
 ['Sandstrom', ' Miss. Marguerite Rut'],
 ['Bonnell', ' Miss. Elizabeth'],
 ['Saundercock', ' Mr. William Henry'],
 ['Andersson', ' Mr. Anders Johan'],
 ['Vestrom', ' Miss. Hulda Amanda Adolfina'],
 ['Hewlett', ' Mrs. (Mary D Kingcome) '],
 ['Rice', ' Master. Eugene'],
 ['Williams', ' Mr. Charles Eugene'],
 ['Vander Planke', ' Mrs. Julius (Emelia Maria Vandemoortele)'],
 ['Masselmani', ' Mrs. Fatima'],
 ['Fynney', ' Mr. Joseph J'],
 ['Beesley', ' Mr. Lawrence'],
 ['McGowan', ' Miss. Anna "Annie"'],
 ['Sloper', ' Mr. William Thompson'],
 ['Palsson', ' Miss. Torborg Danira'],
 ['Asplund', ' Mrs. Carl Oscar (Selma Augusta Emilia Johansson)'],
 ['Emir', ' Mr. Farred Chehab'],
 ['Fortune', ' Mr. Charles Alexander'],
 ["O'Dwyer", ' Miss. Ellen "Nellie"'],
 ['Todoroff', ' Mr. Lalio'],
 ['Uruchurtu', ' Don. Manuel E'],
 ['Spencer', ' Mrs. William Augustus (Marie Eugenie)'],
 ['Glynn', ' Miss. Mary Agatha'],
 ['Wheadon', ' Mr. Edward H'],
 ['Meyer', ' Mr. Edgar Joseph'],
 ['Holverson', ' Mr. Alexander Oskar'],
 ['Mamee', ' Mr. Hanna'],
 ['Cann', ' Mr. Ernest Charles'],
 ['Vander Planke', ' Miss. Augusta Maria'],
 ['Nicola-Yarred', ' Miss. Jamila'],
 ['Ahlin', ' Mrs. Johan (Johanna Persdotter Larsson)'],
 ['Turpin', ' Mrs. William John Robert (Dorothy Ann Wonnacott)'],
 ['Kraeff', ' Mr. Theodor'],
 ['Laroche', ' Miss. Simonne Marie Anne Andree'],
 ['Devaney', ' Miss. Margaret Delia'],
 ['Rogers', ' Mr. William John'],
 ['Lennon', ' Mr. Denis'],
 ["O'Driscoll", ' Miss. Bridget'],
 ['Samaan', ' Mr. Youssef'],
 ['Arnold-Franchi', ' Mrs. Josef (Josefine Franchi)'],
 ['Panula', ' Master. Juha Niilo'],
 ['Nosworthy', ' Mr. Richard Cater'],
 ['Harper', ' Mrs. Henry Sleeper (Myna Haxtun)'],
 ['Faunthorpe', ' Mrs. Lizzie (Elizabeth Anne Wilkinson)'],
 ['Ostby', ' Mr. Engelhart Cornelius'],
 ['Woolner', ' Mr. Hugh'],
 ['Rugg', ' Miss. Emily'],
 ['Novel', ' Mr. Mansouer'],
 ['West', ' Miss. Constance Mirium'],
 ['Goodwin', ' Master. William Frederick'],
 ['Sirayanian', ' Mr. Orsen'],
 ['Icard', ' Miss. Amelie'],
 ['Harris', ' Mr. Henry Birkhardt'],
 ['Skoog', ' Master. Harald'],
 ['Stewart', ' Mr. Albert A'],
 ['Moubarek', ' Master. Gerios'],
 ['Nye', ' Mrs. (Elizabeth Ramell)'],
 ['Crease', ' Mr. Ernest James'],
 ['Andersson', ' Miss. Erna Alexandra'],
 ['Kink', ' Mr. Vincenz'],
 ['Jenkin', ' Mr. Stephen Curnow'],
 ['Goodwin', ' Miss. Lillian Amy'],
 ['Hood', ' Mr. Ambrose Jr'],
 ['Chronopoulos', ' Mr. Apostolos'],
 ['Bing', ' Mr. Lee'],
 ['Moen', ' Mr. Sigurd Hansen'],
 ['Staneff', ' Mr. Ivan'],
 ['Moutal', ' Mr. Rahamin Haim'],
 ['Caldwell', ' Master. Alden Gates'],
 ['Dowdell', ' Miss. Elizabeth'],
 ['Waelens', ' Mr. Achille'],
 ['Sheerlinck', ' Mr. Jan Baptist'],
 ['McDermott', ' Miss. Brigdet Delia'],
 ['Carrau', ' Mr. Francisco M'],
 ['Ilett', ' Miss. Bertha'],
 ['Backstrom', ' Mrs. Karl Alfred (Maria Mathilda Gustafsson)'],
 ['Ford', ' Mr. William Neal'],
 ['Slocovski', ' Mr. Selman Francis'],
 ['Fortune', ' Miss. Mabel Helen'],
 ['Celotti', ' Mr. Francesco'],
 ['Christmann', ' Mr. Emil'],
 ['Andreasson', ' Mr. Paul Edvin'],
 ['Chaffee', ' Mr. Herbert Fuller'],
 ['Dean', ' Mr. Bertram Frank'],
 ['Coxon', ' Mr. Daniel'],
 ['Shorney', ' Mr. Charles Joseph'],
 ['Goldschmidt', ' Mr. George B'],
 ['Greenfield', ' Mr. William Bertram'],
 ['Doling', ' Mrs. John T (Ada Julia Bone)'],
 ['Kantor', ' Mr. Sinai'],
 ['Petranec', ' Miss. Matilda'],
 ['Petroff', ' Mr. Pastcho ("Pentcho")'],
 ['White', ' Mr. Richard Frasar'],
 ['Johansson', ' Mr. Gustaf Joel'],
 ['Gustafsson', ' Mr. Anders Vilhelm'],
 ['Mionoff', ' Mr. Stoytcho'],
 ['Salkjelsvik', ' Miss. Anna Kristine'],
 ['Moss', ' Mr. Albert Johan'],
 ['Rekic', ' Mr. Tido'],
 ['Moran', ' Miss. Bertha'],
 ['Porter', ' Mr. Walter Chamberlain'],
 ['Zabour', ' Miss. Hileni'],
 ['Barton', ' Mr. David John'],
 ['Jussila', ' Miss. Katriina'],
 ['Attalah', ' Miss. Malake'],
 ['Pekoniemi', ' Mr. Edvard'],
 ['Connors', ' Mr. Patrick'],
 ['Turpin', ' Mr. William John Robert'],
 ['Baxter', ' Mr. Quigg Edmond'],
 ['Andersson', ' Miss. Ellis Anna Maria'],
 ['Hickman', ' Mr. Stanley George'],
 ['Moore', ' Mr. Leonard Charles'],
 ['Nasser', ' Mr. Nicholas'],
 ['Webber', ' Miss. Susan'],
 ['White', ' Mr. Percival Wayland'],
 ['Nicola-Yarred', ' Master. Elias'],
 ['McMahon', ' Mr. Martin'],
 ['Madsen', ' Mr. Fridtjof Arne'],
 ['Peter', ' Miss. Anna'],
 ['Ekstrom', ' Mr. Johan'],
 ['Drazenoic', ' Mr. Jozef'],
 ['Coelho', ' Mr. Domingos Fernandeo'],
 ['Robins', ' Mrs. Alexander A (Grace Charity Laury)'],
 ['Weisz', ' Mrs. Leopold (Mathilde Francoise Pede)'],
 ['Sobey', ' Mr. Samuel James Hayden'],
 ['Richard', ' Mr. Emile'],
 ['Newsom', ' Miss. Helen Monypeny'],
 ['Futrelle', ' Mr. Jacques Heath'],
 ['Osen', ' Mr. Olaf Elon'],
 ['Giglio', ' Mr. Victor'],
 ['Boulos', ' Mrs. Joseph (Sultana)'],
 ['Nysten', ' Miss. Anna Sofia'],
 ['Hakkarainen', ' Mrs. Pekka Pietari (Elin Matilda Dolck)'],
 ['Burke', ' Mr. Jeremiah'],
 ['Andrew', ' Mr. Edgardo Samuel'],
 ['Nicholls', ' Mr. Joseph Charles'],
 ['Andersson', ' Mr. August Edvard ("Wennerstrom")'],
 ['Ford', ' Miss. Robina Maggie "Ruby"'],
 ['Navratil', ' Mr. Michel ("Louis M Hoffman")'],
 ['Byles', ' Rev. Thomas Roussel Davids'],
 ['Bateman', ' Rev. Robert James'],
 ['Pears', ' Mrs. Thomas (Edith Wearne)'],
 ['Meo', ' Mr. Alfonzo'],
 ['van Billiard', ' Mr. Austin Blyler'],
 ['Olsen', ' Mr. Ole Martin'],
 ['Williams', ' Mr. Charles Duane'],
 ['Gilnagh', ' Miss. Katherine "Katie"'],
 ['Corn', ' Mr. Harry'],
 ['Smiljanic', ' Mr. Mile'],
 ['Sage', ' Master. Thomas Henry'],
 ['Cribb', ' Mr. John Hatfield'],
 ['Watt', ' Mrs. James (Elizabeth "Bessie" Inglis Milne)'],
 ['Bengtsson', ' Mr. John Viktor'],
 ['Calic', ' Mr. Jovo'],
 ['Panula', ' Master. Eino Viljami'],
 ['Goldsmith', ' Master. Frank John William "Frankie"'],
 ['Chibnall', ' Mrs. (Edith Martha Bowerman)'],
 ['Skoog', ' Mrs. William (Anna Bernhardina Karlsson)'],
 ['Baumann', ' Mr. John D'],
 ['Ling', ' Mr. Lee'],
 ['Van der hoef', ' Mr. Wyckoff'],
 ['Rice', ' Master. Arthur'],
 ['Johnson', ' Miss. Eleanor Ileen'],
 ['Sivola', ' Mr. Antti Wilhelm'],
 ['Smith', ' Mr. James Clinch'],
 ['Klasen', ' Mr. Klas Albin'],
 ['Lefebre', ' Master. Henry Forbes'],
 ['Isham', ' Miss. Ann Elizabeth'],
 ['Hale', ' Mr. Reginald'],
 ['Leonard', ' Mr. Lionel'],
 ['Sage', ' Miss. Constance Gladys'],
 ['Pernot', ' Mr. Rene'],
 ['Asplund', ' Master. Clarence Gustaf Hugo'],
 ['Becker', ' Master. Richard F'],
 ['Kink-Heilmann', ' Miss. Luise Gretchen'],
 ['Rood', ' Mr. Hugh Roscoe'],
 ["O'Brien", ' Mrs. Thomas (Johanna "Hannah" Godfrey)'],
 ['Romaine', ' Mr. Charles Hallace ("Mr C Rolmane")'],
 ['Bourke', ' Mr. John'],
 ['Turcin', ' Mr. Stjepan'],
 ['Pinsky', ' Mrs. (Rosa)'],
 ['Carbines', ' Mr. William'],
 ['Andersen-Jensen', ' Miss. Carla Christine Nielsine'],
 ['Navratil', ' Master. Michel M'],
 ['Brown', ' Mrs. James Joseph (Margaret Tobin)'],
 ['Lurette', ' Miss. Elise'],
 ['Mernagh', ' Mr. Robert'],
 ['Olsen', ' Mr. Karl Siegwart Andreas'],
 ['Madigan', ' Miss. Margaret "Maggie"'],
 ['Yrois', ' Miss. Henriette ("Mrs Harbeck")'],
 ['Vande Walle', ' Mr. Nestor Cyriel'],
 ['Sage', ' Mr. Frederick'],
 ['Johanson', ' Mr. Jakob Alfred'],
 ['Youseff', ' Mr. Gerious'],
 ['Cohen', ' Mr. Gurshon "Gus"'],
 ['Strom', ' Miss. Telma Matilda'],
 ['Backstrom', ' Mr. Karl Alfred'],
 ['Albimona', ' Mr. Nassef Cassem'],
 ['Carr', ' Miss. Helen "Ellen"'],
 ['Blank', ' Mr. Henry'],
 ['Ali', ' Mr. Ahmed'],
 ['Cameron', ' Miss. Clear Annie'],
 ['Perkin', ' Mr. John Henry'],
 ['Givard', ' Mr. Hans Kristensen'],
 ['Kiernan', ' Mr. Philip'],
 ['Newell', ' Miss. Madeleine'],
 ['Honkanen', ' Miss. Eliina'],
 ['Jacobsohn', ' Mr. Sidney Samuel'],
 ['Bazzani', ' Miss. Albina'],
 ['Harris', ' Mr. Walter'],
 ['Sunderland', ' Mr. Victor Francis'],
 ['Bracken', ' Mr. James H'],
 ['Green', ' Mr. George Henry'],
 ['Nenkoff', ' Mr. Christo'],
 ['Hoyt', ' Mr. Frederick Maxfield'],
 ['Berglund', ' Mr. Karl Ivar Sven'],
 ['Mellors', ' Mr. William John'],
 ['Lovell', ' Mr. John Hall ("Henry")'],
 ['Fahlstrom', ' Mr. Arne Jonas'],
 ['Lefebre', ' Miss. Mathilde'],
 ['Harris', ' Mrs. Henry Birkhardt (Irene Wallach)'],
 ['Larsson', ' Mr. Bengt Edvin'],
 ['Sjostedt', ' Mr. Ernst Adolf'],
 ['Asplund', ' Miss. Lillian Gertrud'],
 ['Leyson', ' Mr. Robert William Norman'],
 ['Harknett', ' Miss. Alice Phoebe'],
 ['Hold', ' Mr. Stephen'],
 ['Collyer', ' Miss. Marjorie "Lottie"'],
 ['Pengelly', ' Mr. Frederick William'],
 ['Hunt', ' Mr. George Henry'],
 ['Zabour', ' Miss. Thamine'],
 ['Murphy', ' Miss. Katherine "Kate"'],
 ['Coleridge', ' Mr. Reginald Charles'],
 ['Maenpaa', ' Mr. Matti Alexanteri'],
 ['Attalah', ' Mr. Sleiman'],
 ['Minahan', ' Dr. William Edward'],
 ['Lindahl', ' Miss. Agda Thorilda Viktoria'],
 ['Hamalainen', ' Mrs. William (Anna)'],
 ['Beckwith', ' Mr. Richard Leonard'],
 ['Carter', ' Rev. Ernest Courtenay'],
 ['Reed', ' Mr. James George'],
 ['Strom', ' Mrs. Wilhelm (Elna Matilda Persson)'],
 ['Stead', ' Mr. William Thomas'],
 ['Lobb', ' Mr. William Arthur'],
 ['Rosblom', ' Mrs. Viktor (Helena Wilhelmina)'],
 ['Touma', ' Mrs. Darwis (Hanne Youssef Razi)'],
 ['Thorne', ' Mrs. Gertrude Maybelle'],
 ['Cherry', ' Miss. Gladys'],
 ['Ward', ' Miss. Anna'],
 ['Parrish', ' Mrs. (Lutie Davis)'],
 ['Smith', ' Mr. Thomas'],
 ['Asplund', ' Master. Edvin Rojj Felix'],
 ['Taussig', ' Mr. Emil'],
 ['Harrison', ' Mr. William'],
 ['Henry', ' Miss. Delia'],
 ['Reeves', ' Mr. David'],
 ['Panula', ' Mr. Ernesti Arvid'],
 ['Persson', ' Mr. Ernst Ulrik'],
 ['Graham', ' Mrs. William Thompson (Edith Junkins)'],
 ['Bissette', ' Miss. Amelia'],
 ['Cairns', ' Mr. Alexander'],
 ['Tornquist', ' Mr. William Henry'],
 ['Mellinger', ' Mrs. (Elizabeth Anne Maidment)'],
 ['Natsch', ' Mr. Charles H'],
 ['Healy', ' Miss. Hanora "Nora"'],
 ['Andrews', ' Miss. Kornelia Theodosia'],
 ['Lindblom', ' Miss. Augusta Charlotta'],
 ['Parkes', ' Mr. Francis "Frank"'],
 ['Rice', ' Master. Eric'],
 ['Abbott', ' Mrs. Stanton (Rosa Hunt)'],
 ['Duane', ' Mr. Frank'],
 ['Olsson', ' Mr. Nils Johan Goransson'],
 ['de Pelsmaeker', ' Mr. Alfons'],
 ['Dorking', ' Mr. Edward Arthur'],
 ['Smith', ' Mr. Richard William'],
 ['Stankovic', ' Mr. Ivan'],
 ['de Mulder', ' Mr. Theodore'],
 ['Naidenoff', ' Mr. Penko'],
 ['Hosono', ' Mr. Masabumi'],
 ['Connolly', ' Miss. Kate'],
 ['Barber', ' Miss. Ellen "Nellie"'],
 ['Bishop', ' Mrs. Dickinson H (Helen Walton)'],
 ['Levy', ' Mr. Rene Jacques'],
 ['Haas', ' Miss. Aloisia'],
 ['Mineff', ' Mr. Ivan'],
 ['Lewy', ' Mr. Ervin G'],
 ['Hanna', ' Mr. Mansour'],
 ['Allison', ' Miss. Helen Loraine'],
 ['Saalfeld', ' Mr. Adolphe'],
 ['Baxter', ' Mrs. James (Helene DeLaudeniere Chaput)'],
 ['Kelly', ' Miss. Anna Katherine "Annie Kate"'],
 ['McCoy', ' Mr. Bernard'],
 ['Johnson', ' Mr. William Cahoone Jr'],
 ['Keane', ' Miss. Nora A'],
 ['Williams', ' Mr. Howard Hugh "Harry"'],
 ['Allison', ' Master. Hudson Trevor'],
 ['Fleming', ' Miss. Margaret'],
 ['Penasco y Castellana',
  ' Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'],
 ['Abelson', ' Mr. Samuel'],
 ['Francatelli', ' Miss. Laura Mabel'],
 ['Hays', ' Miss. Margaret Bechstein'],
 ['Ryerson', ' Miss. Emily Borie'],
 ['Lahtinen', ' Mrs. William (Anna Sylfven)'],
 ['Hendekovic', ' Mr. Ignjac'],
 ['Hart', ' Mr. Benjamin'],
 ['Nilsson', ' Miss. Helmina Josefina'],
 ['Kantor', ' Mrs. Sinai (Miriam Sternin)'],
 ['Moraweck', ' Dr. Ernest'],
 ['Wick', ' Miss. Mary Natalie'],
 ['Spedden', ' Mrs. Frederic Oakley (Margaretta Corning Stone)'],
 ['Dennis', ' Mr. Samuel'],
 ['Danoff', ' Mr. Yoto'],
 ['Slayter', ' Miss. Hilda Mary'],
 ['Caldwell', ' Mrs. Albert Francis (Sylvia Mae Harbaugh)'],
 ['Sage', ' Mr. George John Jr'],
 ['Young', ' Miss. Marie Grice'],
 ['Nysveen', ' Mr. Johan Hansen'],
 ['Ball', ' Mrs. (Ada E Hall)'],
 ['Goldsmith', ' Mrs. Frank John (Emily Alice Brown)'],
 ['Hippach', ' Miss. Jean Gertrude'],
 ['McCoy', ' Miss. Agnes'],
 ['Partner', ' Mr. Austen'],
 ['Graham', ' Mr. George Edward'],
 ['Vander Planke', ' Mr. Leo Edmondus'],
 ['Frauenthal', ' Mrs. Henry William (Clara Heinsheimer)'],
 ['Denkoff', ' Mr. Mitto'],
 ['Pears', ' Mr. Thomas Clinton'],
 ['Burns', ' Miss. Elizabeth Margaret'],
 ['Dahl', ' Mr. Karl Edwart'],
 ['Blackwell', ' Mr. Stephen Weart'],
 ['Navratil', ' Master. Edmond Roger'],
 ['Fortune', ' Miss. Alice Elizabeth'],
 ['Collander', ' Mr. Erik Gustaf'],
 ['Sedgwick', ' Mr. Charles Frederick Waddington'],
 ['Fox', ' Mr. Stanley Hubert'],
 ['Brown', ' Miss. Amelia "Mildred"'],
 ['Smith', ' Miss. Marion Elsie'],
 ['Davison', ' Mrs. Thomas Henry (Mary E Finck)'],
 ['Coutts', ' Master. William Loch "William"'],
 ['Dimic', ' Mr. Jovan'],
 ['Odahl', ' Mr. Nils Martin'],
 ['Williams-Lambert', ' Mr. Fletcher Fellows'],
 ['Elias', ' Mr. Tannous'],
 ['Arnold-Franchi', ' Mr. Josef'],
 ['Yousif', ' Mr. Wazli'],
 ['Vanden Steen', ' Mr. Leo Peter'],
 ['Bowerman', ' Miss. Elsie Edith'],
 ['Funk', ' Miss. Annie Clemmer'],
 ['McGovern', ' Miss. Mary'],
 ['Mockler', ' Miss. Helen Mary "Ellie"'],
 ['Skoog', ' Mr. Wilhelm'],
 ['del Carlo', ' Mr. Sebastiano'],
 ['Barbara', ' Mrs. (Catherine David)'],
 ['Asim', ' Mr. Adola'],
 ["O'Brien", ' Mr. Thomas'],
 ['Adahl', ' Mr. Mauritz Nils Martin'],
 ['Warren', ' Mrs. Frank Manley (Anna Sophia Atkinson)'],
 ['Moussa', ' Mrs. (Mantoura Boulos)'],
 ['Jermyn', ' Miss. Annie'],
 ['Aubart', ' Mme. Leontine Pauline'],
 ['Harder', ' Mr. George Achilles'],
 ['Wiklund', ' Mr. Jakob Alfred'],
 ['Beavan', ' Mr. William Thomas'],
 ['Ringhini', ' Mr. Sante'],
 ['Palsson', ' Miss. Stina Viola'],
 ['Meyer', ' Mrs. Edgar Joseph (Leila Saks)'],
 ['Landergren', ' Miss. Aurora Adelia'],
 ['Widener', ' Mr. Harry Elkins'],
 ['Betros', ' Mr. Tannous'],
 ['Gustafsson', ' Mr. Karl Gideon'],
 ['Bidois', ' Miss. Rosalie'],
 ['Nakid', ' Miss. Maria ("Mary")'],
 ['Tikkanen', ' Mr. Juho'],
 ['Holverson', ' Mrs. Alexander Oskar (Mary Aline Towner)'],
 ['Plotcharsky', ' Mr. Vasil'],
 ['Davies', ' Mr. Charles Henry'],
 ['Goodwin', ' Master. Sidney Leonard'],
 ['Buss', ' Miss. Kate'],
 ['Sadlier', ' Mr. Matthew'],
 ['Lehmann', ' Miss. Bertha'],
 ['Carter', ' Mr. William Ernest'],
 ['Jansson', ' Mr. Carl Olof'],
 ['Gustafsson', ' Mr. Johan Birger'],
 ['Newell', ' Miss. Marjorie'],
 ['Sandstrom', ' Mrs. Hjalmar (Agnes Charlotta Bengtsson)'],
 ['Johansson', ' Mr. Erik'],
 ['Olsson', ' Miss. Elina'],
 ['McKane', ' Mr. Peter David'],
 ['Pain', ' Dr. Alfred'],
 ['Trout', ' Mrs. William H (Jessie L)'],
 ['Niskanen', ' Mr. Juha'],
 ['Adams', ' Mr. John'],
 ['Jussila', ' Miss. Mari Aina'],
 ['Hakkarainen', ' Mr. Pekka Pietari'],
 ['Oreskovic', ' Miss. Marija'],
 ['Gale', ' Mr. Shadrach'],
 ['Widegren', ' Mr. Carl/Charles Peter'],
 ['Richards', ' Master. William Rowe'],
 ['Birkeland', ' Mr. Hans Martin Monsen'],
 ['Lefebre', ' Miss. Ida'],
 ['Sdycoff', ' Mr. Todor'],
 ['Hart', ' Mr. Henry'],
 ['Minahan', ' Miss. Daisy E'],
 ['Cunningham', ' Mr. Alfred Fleming'],
 ['Sundman', ' Mr. Johan Julian'],
 ['Meek', ' Mrs. Thomas (Annie Louise Rowley)'],
 ['Drew', ' Mrs. James Vivian (Lulu Thorne Christian)'],
 ['Silven', ' Miss. Lyyli Karoliina'],
 ['Matthews', ' Mr. William John'],
 ['Van Impe', ' Miss. Catharina'],
 ['Gheorgheff', ' Mr. Stanio'],
 ['Charters', ' Mr. David'],
 ['Zimmerman', ' Mr. Leo'],
 ['Danbom', ' Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'],
 ['Rosblom', ' Mr. Viktor Richard'],
 ['Wiseman', ' Mr. Phillippe'],
 ['Clarke', ' Mrs. Charles V (Ada Maria Winfield)'],
 ['Phillips', ' Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'],
 ['Flynn', ' Mr. James'],
 ['Pickard', ' Mr. Berk (Berk Trembisky)'],
 ['Bjornstrom-Steffansson', ' Mr. Mauritz Hakan'],
 ['Thorneycroft', ' Mrs. Percival (Florence Kate White)'],
 ['Louch', ' Mrs. Charles Alexander (Alice Adelaide Slow)'],
 ['Kallio', ' Mr. Nikolai Erland'],
 ['Silvey', ' Mr. William Baird'],
 ['Carter', ' Miss. Lucile Polk'],
 ['Ford', ' Miss. Doolina Margaret "Daisy"'],
 ['Richards', ' Mrs. Sidney (Emily Hocking)'],
 ['Fortune', ' Mr. Mark'],
 ['Kvillner', ' Mr. Johan Henrik Johannesson'],
 ['Hart', ' Mrs. Benjamin (Esther Ada Bloomfield)'],
 ['Hampe', ' Mr. Leon'],
 ['Petterson', ' Mr. Johan Emil'],
 ['Reynaldo', ' Ms. Encarnacion'],
 ['Johannesen-Bratthammer', ' Mr. Bernt'],
 ['Dodge', ' Master. Washington'],
 ['Mellinger', ' Miss. Madeleine Violet'],
 ['Seward', ' Mr. Frederic Kimber'],
 ['Baclini', ' Miss. Marie Catherine'],
 ['Peuchen', ' Major. Arthur Godfrey'],
 ['West', ' Mr. Edwy Arthur'],
 ['Hagland', ' Mr. Ingvald Olai Olsen'],
 ['Foreman', ' Mr. Benjamin Laventall'],
 ['Goldenberg', ' Mr. Samuel L'],
 ['Peduzzi', ' Mr. Joseph'],
 ['Jalsevac', ' Mr. Ivan'],
 ['Millet', ' Mr. Francis Davis'],
 ['Kenyon', ' Mrs. Frederick R (Marion)'],
 ['Toomey', ' Miss. Ellen'],
 ["O'Connor", ' Mr. Maurice'],
 ['Anderson', ' Mr. Harry'],
 ['Morley', ' Mr. William'],
 ['Gee', ' Mr. Arthur H'],
 ['Milling', ' Mr. Jacob Christian'],
 ['Maisner', ' Mr. Simon'],
 ['Goncalves', ' Mr. Manuel Estanslas'],
 ['Campbell', ' Mr. William'],
 ['Smart', ' Mr. John Montgomery'],
 ['Scanlan', ' Mr. James'],
 ['Baclini', ' Miss. Helene Barbara'],
 ['Keefe', ' Mr. Arthur'],
 ['Cacic', ' Mr. Luka'],
 ['West', ' Mrs. Edwy Arthur (Ada Mary Worth)'],
 ['Jerwan', ' Mrs. Amin S (Marie Marthe Thuillard)'],
 ['Strandberg', ' Miss. Ida Sofia'],
 ['Clifford', ' Mr. George Quincy'],
 ['Renouf', ' Mr. Peter Henry'],
 ['Braund', ' Mr. Lewis Richard'],
 ['Karlsson', ' Mr. Nils August'],
 ['Hirvonen', ' Miss. Hildur E'],
 ['Goodwin', ' Master. Harold Victor'],
 ['Frost', ' Mr. Anthony Wood "Archie"'],
 ['Rouse', ' Mr. Richard Henry'],
 ['Turkula', ' Mrs. (Hedwig)'],
 ['Bishop', ' Mr. Dickinson H'],
 ['Lefebre', ' Miss. Jeannie'],
 ['Hoyt', ' Mrs. Frederick Maxfield (Jane Anne Forby)'],
 ['Kent', ' Mr. Edward Austin'],
 ['Somerton', ' Mr. Francis William'],
 ['Coutts', ' Master. Eden Leslie "Neville"'],
 ['Hagland', ' Mr. Konrad Mathias Reiersen'],
 ['Windelov', ' Mr. Einar'],
 ['Molson', ' Mr. Harry Markland'],
 ['Artagaveytia', ' Mr. Ramon'],
 ['Stanley', ' Mr. Edward Roland'],
 ['Yousseff', ' Mr. Gerious'],
 ['Eustis', ' Miss. Elizabeth Mussey'],
 ['Shellard', ' Mr. Frederick William'],
 ['Allison', ' Mrs. Hudson J C (Bessie Waldo Daniels)'],
 ['Svensson', ' Mr. Olof'],
 ['Calic', ' Mr. Petar'],
 ['Canavan', ' Miss. Mary'],
 ["O'Sullivan", ' Miss. Bridget Mary'],
 ['Laitinen', ' Miss. Kristina Sofia'],
 ['Maioni', ' Miss. Roberta'],
 ['Penasco y Castellana', ' Mr. Victor de Satode'],
 ['Quick', ' Mrs. Frederick Charles (Jane Richards)'],
 ['Bradley', ' Mr. George ("George Arthur Brayton")'],
 ['Olsen', ' Mr. Henry Margido'],
 ['Lang', ' Mr. Fang'],
 ['Daly', ' Mr. Eugene Patrick'],
 ['Webber', ' Mr. James'],
 ['McGough', ' Mr. James Robert'],
 ['Rothschild', ' Mrs. Martin (Elizabeth L. Barrett)'],
 ['Coleff', ' Mr. Satio'],
 ['Walker', ' Mr. William Anderson'],
 ['Lemore', ' Mrs. (Amelia Milley)'],
 ['Ryan', ' Mr. Patrick'],
 ['Angle', ' Mrs. William A (Florence "Mary" Agnes Hughes)'],
 ['Pavlovic', ' Mr. Stefo'],
 ['Perreault', ' Miss. Anne'],
 ['Vovk', ' Mr. Janko'],
 ['Lahoud', ' Mr. Sarkis'],
 ['Hippach', ' Mrs. Louis Albert (Ida Sophia Fischer)'],
 ['Kassem', ' Mr. Fared'],
 ['Farrell', ' Mr. James'],
 ['Ridsdale', ' Miss. Lucy'],
 ['Farthing', ' Mr. John'],
 ['Salonen', ' Mr. Johan Werner'],
 ['Hocking', ' Mr. Richard George'],
 ['Quick', ' Miss. Phyllis May'],
 ['Toufik', ' Mr. Nakli'],
 ['Elias', ' Mr. Joseph Jr'],
 ['Peter', ' Mrs. Catherine (Catherine Rizk)'],
 ['Cacic', ' Miss. Marija'],
 ['Hart', ' Miss. Eva Miriam'],
 ['Butt', ' Major. Archibald Willingham'],
 ['LeRoy', ' Miss. Bertha'],
 ['Risien', ' Mr. Samuel Beard'],
 ['Frolicher', ' Miss. Hedwig Margaritha'],

In [15]:
names1 = []
for i in names:
    
    z = i[1].split(".")
    names1.append(z)

In [16]:
names1

[[' Mr', ' Owen Harris'],
 [' Mrs', ' John Bradley (Florence Briggs Thayer)'],
 [' Miss', ' Laina'],
 [' Mrs', ' Jacques Heath (Lily May Peel)'],
 [' Mr', ' William Henry'],
 [' Mr', ' James'],
 [' Mr', ' Timothy J'],
 [' Master', ' Gosta Leonard'],
 [' Mrs', ' Oscar W (Elisabeth Vilhelmina Berg)'],
 [' Mrs', ' Nicholas (Adele Achem)'],
 [' Miss', ' Marguerite Rut'],
 [' Miss', ' Elizabeth'],
 [' Mr', ' William Henry'],
 [' Mr', ' Anders Johan'],
 [' Miss', ' Hulda Amanda Adolfina'],
 [' Mrs', ' (Mary D Kingcome) '],
 [' Master', ' Eugene'],
 [' Mr', ' Charles Eugene'],
 [' Mrs', ' Julius (Emelia Maria Vandemoortele)'],
 [' Mrs', ' Fatima'],
 [' Mr', ' Joseph J'],
 [' Mr', ' Lawrence'],
 [' Miss', ' Anna "Annie"'],
 [' Mr', ' William Thompson'],
 [' Miss', ' Torborg Danira'],
 [' Mrs', ' Carl Oscar (Selma Augusta Emilia Johansson)'],
 [' Mr', ' Farred Chehab'],
 [' Mr', ' Charles Alexander'],
 [' Miss', ' Ellen "Nellie"'],
 [' Mr', ' Lalio'],
 [' Don', ' Manuel E'],
 [' Mrs', ' William Augustus (Marie Eugenie)'],
 [' Miss', ' Mary Agatha'],
 [' Mr', ' Edward H'],
 [' Mr', ' Edgar Joseph'],
 [' Mr', ' Alexander Oskar'],
 [' Mr', ' Hanna'],
 [' Mr', ' Ernest Charles'],
 [' Miss', ' Augusta Maria'],
 [' Miss', ' Jamila'],
 [' Mrs', ' Johan (Johanna Persdotter Larsson)'],
 [' Mrs', ' William John Robert (Dorothy Ann Wonnacott)'],
 [' Mr', ' Theodor'],
 [' Miss', ' Simonne Marie Anne Andree'],
 [' Miss', ' Margaret Delia'],
 [' Mr', ' William John'],
 [' Mr', ' Denis'],
 [' Miss', ' Bridget'],
 [' Mr', ' Youssef'],
 [' Mrs', ' Josef (Josefine Franchi)'],
 [' Master', ' Juha Niilo'],
 [' Mr', ' Richard Cater'],
 [' Mrs', ' Henry Sleeper (Myna Haxtun)'],
 [' Mrs', ' Lizzie (Elizabeth Anne Wilkinson)'],
 [' Mr', ' Engelhart Cornelius'],
 [' Mr', ' Hugh'],
 [' Miss', ' Emily'],
 [' Mr', ' Mansouer'],
 [' Miss', ' Constance Mirium'],
 [' Master', ' William Frederick'],
 [' Mr', ' Orsen'],
 [' Miss', ' Amelie'],
 [' Mr', ' Henry Birkhardt'],
 [' Master', ' Harald'],
 [' Mr', ' Albert A'],
 [' Master', ' Gerios'],
 [' Mrs', ' (Elizabeth Ramell)'],
 [' Mr', ' Ernest James'],
 [' Miss', ' Erna Alexandra'],
 [' Mr', ' Vincenz'],
 [' Mr', ' Stephen Curnow'],
 [' Miss', ' Lillian Amy'],
 [' Mr', ' Ambrose Jr'],
 [' Mr', ' Apostolos'],
 [' Mr', ' Lee'],
 [' Mr', ' Sigurd Hansen'],
 [' Mr', ' Ivan'],
 [' Mr', ' Rahamin Haim'],
 [' Master', ' Alden Gates'],
 [' Miss', ' Elizabeth'],
 [' Mr', ' Achille'],
 [' Mr', ' Jan Baptist'],
 [' Miss', ' Brigdet Delia'],
 [' Mr', ' Francisco M'],
 [' Miss', ' Bertha'],
 [' Mrs', ' Karl Alfred (Maria Mathilda Gustafsson)'],
 [' Mr', ' William Neal'],
 [' Mr', ' Selman Francis'],
 [' Miss', ' Mabel Helen'],
 [' Mr', ' Francesco'],
 [' Mr', ' Emil'],
 [' Mr', ' Paul Edvin'],
 [' Mr', ' Herbert Fuller'],
 [' Mr', ' Bertram Frank'],
 [' Mr', ' Daniel'],
 [' Mr', ' Charles Joseph'],
 [' Mr', ' George B'],
 [' Mr', ' William Bertram'],
 [' Mrs', ' John T (Ada Julia Bone)'],
 [' Mr', ' Sinai'],
 [' Miss', ' Matilda'],
 [' Mr', ' Pastcho ("Pentcho")'],
 [' Mr', ' Richard Frasar'],
 [' Mr', ' Gustaf Joel'],
 [' Mr', ' Anders Vilhelm'],
 [' Mr', ' Stoytcho'],
 [' Miss', ' Anna Kristine'],
 [' Mr', ' Albert Johan'],
 [' Mr', ' Tido'],
 [' Miss', ' Bertha'],
 [' Mr', ' Walter Chamberlain'],
 [' Miss', ' Hileni'],
 [' Mr', ' David John'],
 [' Miss', ' Katriina'],
 [' Miss', ' Malake'],
 [' Mr', ' Edvard'],
 [' Mr', ' Patrick'],
 [' Mr', ' William John Robert'],
 [' Mr', ' Quigg Edmond'],
 [' Miss', ' Ellis Anna Maria'],
 [' Mr', ' Stanley George'],
 [' Mr', ' Leonard Charles'],
 [' Mr', ' Nicholas'],
 [' Miss', ' Susan'],
 [' Mr', ' Percival Wayland'],
 [' Master', ' Elias'],
 [' Mr', ' Martin'],
 [' Mr', ' Fridtjof Arne'],
 [' Miss', ' Anna'],
 [' Mr', ' Johan'],
 [' Mr', ' Jozef'],
 [' Mr', ' Domingos Fernandeo'],
 [' Mrs', ' Alexander A (Grace Charity Laury)'],
 [' Mrs', ' Leopold (Mathilde Francoise Pede)'],
 [' Mr', ' Samuel James Hayden'],
 [' Mr', ' Emile'],
 [' Miss', ' Helen Monypeny'],
 [' Mr', ' Jacques Heath'],
 [' Mr', ' Olaf Elon'],
 [' Mr', ' Victor'],
 [' Mrs', ' Joseph (Sultana)'],
 [' Miss', ' Anna Sofia'],
 [' Mrs', ' Pekka Pietari (Elin Matilda Dolck)'],
 [' Mr', ' Jeremiah'],
 [' Mr', ' Edgardo Samuel'],
 [' Mr', ' Joseph Charles'],
 [' Mr', ' August Edvard ("Wennerstrom")'],
 [' Miss', ' Robina Maggie "Ruby"'],
 [' Mr', ' Michel ("Louis M Hoffman")'],
 [' Rev', ' Thomas Roussel Davids'],
 [' Rev', ' Robert James'],
 [' Mrs', ' Thomas (Edith Wearne)'],
 [' Mr', ' Alfonzo'],
 [' Mr', ' Austin Blyler'],
 [' Mr', ' Ole Martin'],
 [' Mr', ' Charles Duane'],
 [' Miss', ' Katherine "Katie"'],
 [' Mr', ' Harry'],
 [' Mr', ' Mile'],
 [' Master', ' Thomas Henry'],
 [' Mr', ' John Hatfield'],
 [' Mrs', ' James (Elizabeth "Bessie" Inglis Milne)'],
 [' Mr', ' John Viktor'],
 [' Mr', ' Jovo'],
 [' Master', ' Eino Viljami'],
 [' Master', ' Frank John William "Frankie"'],
 [' Mrs', ' (Edith Martha Bowerman)'],
 [' Mrs', ' William (Anna Bernhardina Karlsson)'],
 [' Mr', ' John D'],
 [' Mr', ' Lee'],
 [' Mr', ' Wyckoff'],
 [' Master', ' Arthur'],
 [' Miss', ' Eleanor Ileen'],
 [' Mr', ' Antti Wilhelm'],
 [' Mr', ' James Clinch'],
 [' Mr', ' Klas Albin'],
 [' Master', ' Henry Forbes'],
 [' Miss', ' Ann Elizabeth'],
 [' Mr', ' Reginald'],
 [' Mr', ' Lionel'],
 [' Miss', ' Constance Gladys'],
 [' Mr', ' Rene'],
 [' Master', ' Clarence Gustaf Hugo'],
 [' Master', ' Richard F'],
 [' Miss', ' Luise Gretchen'],
 [' Mr', ' Hugh Roscoe'],
 [' Mrs', ' Thomas (Johanna "Hannah" Godfrey)'],
 [' Mr', ' Charles Hallace ("Mr C Rolmane")'],
 [' Mr', ' John'],
 [' Mr', ' Stjepan'],
 [' Mrs', ' (Rosa)'],
 [' Mr', ' William'],
 [' Miss', ' Carla Christine Nielsine'],
 [' Master', ' Michel M'],
 [' Mrs', ' James Joseph (Margaret Tobin)'],
 [' Miss', ' Elise'],
 [' Mr', ' Robert'],
 [' Mr', ' Karl Siegwart Andreas'],
 [' Miss', ' Margaret "Maggie"'],
 [' Miss', ' Henriette ("Mrs Harbeck")'],
 [' Mr', ' Nestor Cyriel'],
 [' Mr', ' Frederick'],
 [' Mr', ' Jakob Alfred'],
 [' Mr', ' Gerious'],
 [' Mr', ' Gurshon "Gus"'],
 [' Miss', ' Telma Matilda'],
 [' Mr', ' Karl Alfred'],
 [' Mr', ' Nassef Cassem'],
 [' Miss', ' Helen "Ellen"'],
 [' Mr', ' Henry'],
 [' Mr', ' Ahmed'],
 [' Miss', ' Clear Annie'],
 [' Mr', ' John Henry'],
 [' Mr', ' Hans Kristensen'],
 [' Mr', ' Philip'],
 [' Miss', ' Madeleine'],
 [' Miss', ' Eliina'],
 [' Mr', ' Sidney Samuel'],
 [' Miss', ' Albina'],
 [' Mr', ' Walter'],
 [' Mr', ' Victor Francis'],
 [' Mr', ' James H'],
 [' Mr', ' George Henry'],
 [' Mr', ' Christo'],
 [' Mr', ' Frederick Maxfield'],
 [' Mr', ' Karl Ivar Sven'],
 [' Mr', ' William John'],
 [' Mr', ' John Hall ("Henry")'],
 [' Mr', ' Arne Jonas'],
 [' Miss', ' Mathilde'],
 [' Mrs', ' Henry Birkhardt (Irene Wallach)'],
 [' Mr', ' Bengt Edvin'],
 [' Mr', ' Ernst Adolf'],
 [' Miss', ' Lillian Gertrud'],
 [' Mr', ' Robert William Norman'],
 [' Miss', ' Alice Phoebe'],
 [' Mr', ' Stephen'],
 [' Miss', ' Marjorie "Lottie"'],
 [' Mr', ' Frederick William'],
 [' Mr', ' George Henry'],
 [' Miss', ' Thamine'],
 [' Miss', ' Katherine "Kate"'],
 [' Mr', ' Reginald Charles'],
 [' Mr', ' Matti Alexanteri'],
 [' Mr', ' Sleiman'],
 [' Dr', ' William Edward'],
 [' Miss', ' Agda Thorilda Viktoria'],
 [' Mrs', ' William (Anna)'],
 [' Mr', ' Richard Leonard'],
 [' Rev', ' Ernest Courtenay'],
 [' Mr', ' James George'],
 [' Mrs', ' Wilhelm (Elna Matilda Persson)'],
 [' Mr', ' William Thomas'],
 [' Mr', ' William Arthur'],
 [' Mrs', ' Viktor (Helena Wilhelmina)'],
 [' Mrs', ' Darwis (Hanne Youssef Razi)'],
 [' Mrs', ' Gertrude Maybelle'],
 [' Miss', ' Gladys'],
 [' Miss', ' Anna'],
 [' Mrs', ' (Lutie Davis)'],
 [' Mr', ' Thomas'],
 [' Master', ' Edvin Rojj Felix'],
 [' Mr', ' Emil'],
 [' Mr', ' William'],
 [' Miss', ' Delia'],
 [' Mr', ' David'],
 [' Mr', ' Ernesti Arvid'],
 [' Mr', ' Ernst Ulrik'],
 [' Mrs', ' William Thompson (Edith Junkins)'],
 [' Miss', ' Amelia'],
 [' Mr', ' Alexander'],
 [' Mr', ' William Henry'],
 [' Mrs', ' (Elizabeth Anne Maidment)'],
 [' Mr', ' Charles H'],
 [' Miss', ' Hanora "Nora"'],
 [' Miss', ' Kornelia Theodosia'],
 [' Miss', ' Augusta Charlotta'],
 [' Mr', ' Francis "Frank"'],
 [' Master', ' Eric'],
 [' Mrs', ' Stanton (Rosa Hunt)'],
 [' Mr', ' Frank'],
 [' Mr', ' Nils Johan Goransson'],
 [' Mr', ' Alfons'],
 [' Mr', ' Edward Arthur'],
 [' Mr', ' Richard William'],
 [' Mr', ' Ivan'],
 [' Mr', ' Theodore'],
 [' Mr', ' Penko'],
 [' Mr', ' Masabumi'],
 [' Miss', ' Kate'],
 [' Miss', ' Ellen "Nellie"'],
 [' Mrs', ' Dickinson H (Helen Walton)'],
 [' Mr', ' Rene Jacques'],
 [' Miss', ' Aloisia'],
 [' Mr', ' Ivan'],
 [' Mr', ' Ervin G'],
 [' Mr', ' Mansour'],
 [' Miss', ' Helen Loraine'],
 [' Mr', ' Adolphe'],
 [' Mrs', ' James (Helene DeLaudeniere Chaput)'],
 [' Miss', ' Anna Katherine "Annie Kate"'],
 [' Mr', ' Bernard'],
 [' Mr', ' William Cahoone Jr'],
 [' Miss', ' Nora A'],
 [' Mr', ' Howard Hugh "Harry"'],
 [' Master', ' Hudson Trevor'],
 [' Miss', ' Margaret'],
 [' Mrs', ' Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'],
 [' Mr', ' Samuel'],
 [' Miss', ' Laura Mabel'],
 [' Miss', ' Margaret Bechstein'],
 [' Miss', ' Emily Borie'],
 [' Mrs', ' William (Anna Sylfven)'],
 [' Mr', ' Ignjac'],
 [' Mr', ' Benjamin'],
 [' Miss', ' Helmina Josefina'],
 [' Mrs', ' Sinai (Miriam Sternin)'],
 [' Dr', ' Ernest'],
 [' Miss', ' Mary Natalie'],
 [' Mrs', ' Frederic Oakley (Margaretta Corning Stone)'],
 [' Mr', ' Samuel'],
 [' Mr', ' Yoto'],
 [' Miss', ' Hilda Mary'],
 [' Mrs', ' Albert Francis (Sylvia Mae Harbaugh)'],
 [' Mr', ' George John Jr'],
 [' Miss', ' Marie Grice'],
 [' Mr', ' Johan Hansen'],
 [' Mrs', ' (Ada E Hall)'],
 [' Mrs', ' Frank John (Emily Alice Brown)'],
 [' Miss', ' Jean Gertrude'],
 [' Miss', ' Agnes'],
 [' Mr', ' Austen'],
 [' Mr', ' George Edward'],
 [' Mr', ' Leo Edmondus'],
 [' Mrs', ' Henry William (Clara Heinsheimer)'],
 [' Mr', ' Mitto'],
 [' Mr', ' Thomas Clinton'],
 [' Miss', ' Elizabeth Margaret'],
 [' Mr', ' Karl Edwart'],
 [' Mr', ' Stephen Weart'],
 [' Master', ' Edmond Roger'],
 [' Miss', ' Alice Elizabeth'],
 [' Mr', ' Erik Gustaf'],
 [' Mr', ' Charles Frederick Waddington'],
 [' Mr', ' Stanley Hubert'],
 [' Miss', ' Amelia "Mildred"'],
 [' Miss', ' Marion Elsie'],
 [' Mrs', ' Thomas Henry (Mary E Finck)'],
 [' Master', ' William Loch "William"'],
 [' Mr', ' Jovan'],
 [' Mr', ' Nils Martin'],
 [' Mr', ' Fletcher Fellows'],
 [' Mr', ' Tannous'],
 [' Mr', ' Josef'],
 [' Mr', ' Wazli'],
 [' Mr', ' Leo Peter'],
 [' Miss', ' Elsie Edith'],
 [' Miss', ' Annie Clemmer'],
 [' Miss', ' Mary'],
 [' Miss', ' Helen Mary "Ellie"'],
 [' Mr', ' Wilhelm'],
 [' Mr', ' Sebastiano'],
 [' Mrs', ' (Catherine David)'],
 [' Mr', ' Adola'],
 [' Mr', ' Thomas'],
 [' Mr', ' Mauritz Nils Martin'],
 [' Mrs', ' Frank Manley (Anna Sophia Atkinson)'],
 [' Mrs', ' (Mantoura Boulos)'],
 [' Miss', ' Annie'],
 [' Mme', ' Leontine Pauline'],
 [' Mr', ' George Achilles'],
 [' Mr', ' Jakob Alfred'],
 [' Mr', ' William Thomas'],
 [' Mr', ' Sante'],
 [' Miss', ' Stina Viola'],
 [' Mrs', ' Edgar Joseph (Leila Saks)'],
 [' Miss', ' Aurora Adelia'],
 [' Mr', ' Harry Elkins'],
 [' Mr', ' Tannous'],
 [' Mr', ' Karl Gideon'],
 [' Miss', ' Rosalie'],
 [' Miss', ' Maria ("Mary")'],
 [' Mr', ' Juho'],
 [' Mrs', ' Alexander Oskar (Mary Aline Towner)'],
 [' Mr', ' Vasil'],
 [' Mr', ' Charles Henry'],
 [' Master', ' Sidney Leonard'],
 [' Miss', ' Kate'],
 [' Mr', ' Matthew'],
 [' Miss', ' Bertha'],
 [' Mr', ' William Ernest'],
 [' Mr', ' Carl Olof'],
 [' Mr', ' Johan Birger'],
 [' Miss', ' Marjorie'],
 [' Mrs', ' Hjalmar (Agnes Charlotta Bengtsson)'],
 [' Mr', ' Erik'],
 [' Miss', ' Elina'],
 [' Mr', ' Peter David'],
 [' Dr', ' Alfred'],
 [' Mrs', ' William H (Jessie L)'],
 [' Mr', ' Juha'],
 [' Mr', ' John'],
 [' Miss', ' Mari Aina'],
 [' Mr', ' Pekka Pietari'],
 [' Miss', ' Marija'],
 [' Mr', ' Shadrach'],
 [' Mr', ' Carl/Charles Peter'],
 [' Master', ' William Rowe'],
 [' Mr', ' Hans Martin Monsen'],
 [' Miss', ' Ida'],
 [' Mr', ' Todor'],
 [' Mr', ' Henry'],
 [' Miss', ' Daisy E'],
 [' Mr', ' Alfred Fleming'],
 [' Mr', ' Johan Julian'],
 [' Mrs', ' Thomas (Annie Louise Rowley)'],
 [' Mrs', ' James Vivian (Lulu Thorne Christian)'],
 [' Miss', ' Lyyli Karoliina'],
 [' Mr', ' William John'],
 [' Miss', ' Catharina'],
 [' Mr', ' Stanio'],
 [' Mr', ' David'],
 [' Mr', ' Leo'],
 [' Mrs', ' Ernst Gilbert (Anna Sigrid Maria Brogren)'],
 [' Mr', ' Viktor Richard'],
 [' Mr', ' Phillippe'],
 [' Mrs', ' Charles V (Ada Maria Winfield)'],
 [' Miss', ' Kate Florence ("Mrs Kate Louise Phillips Marshall")'],
 [' Mr', ' James'],
 [' Mr', ' Berk (Berk Trembisky)'],
 [' Mr', ' Mauritz Hakan'],
 [' Mrs', ' Percival (Florence Kate White)'],
 [' Mrs', ' Charles Alexander (Alice Adelaide Slow)'],
 [' Mr', ' Nikolai Erland'],
 [' Mr', ' William Baird'],
 [' Miss', ' Lucile Polk'],
 [' Miss', ' Doolina Margaret "Daisy"'],
 [' Mrs', ' Sidney (Emily Hocking)'],
 [' Mr', ' Mark'],
 [' Mr', ' Johan Henrik Johannesson'],
 [' Mrs', ' Benjamin (Esther Ada Bloomfield)'],
 [' Mr', ' Leon'],
 [' Mr', ' Johan Emil'],
 [' Ms', ' Encarnacion'],
 [' Mr', ' Bernt'],
 [' Master', ' Washington'],
 [' Miss', ' Madeleine Violet'],
 [' Mr', ' Frederic Kimber'],
 [' Miss', ' Marie Catherine'],
 [' Major', ' Arthur Godfrey'],
 [' Mr', ' Edwy Arthur'],
 [' Mr', ' Ingvald Olai Olsen'],
 [' Mr', ' Benjamin Laventall'],
 [' Mr', ' Samuel L'],
 [' Mr', ' Joseph'],
 [' Mr', ' Ivan'],
 [' Mr', ' Francis Davis'],
 [' Mrs', ' Frederick R (Marion)'],
 [' Miss', ' Ellen'],
 [' Mr', ' Maurice'],
 [' Mr', ' Harry'],
 [' Mr', ' William'],
 [' Mr', ' Arthur H'],
 [' Mr', ' Jacob Christian'],
 [' Mr', ' Simon'],
 [' Mr', ' Manuel Estanslas'],
 [' Mr', ' William'],
 [' Mr', ' John Montgomery'],
 [' Mr', ' James'],
 [' Miss', ' Helene Barbara'],
 [' Mr', ' Arthur'],
 [' Mr', ' Luka'],
 [' Mrs', ' Edwy Arthur (Ada Mary Worth)'],
 [' Mrs', ' Amin S (Marie Marthe Thuillard)'],
 [' Miss', ' Ida Sofia'],
 [' Mr', ' George Quincy'],
 [' Mr', ' Peter Henry'],
 [' Mr', ' Lewis Richard'],
 [' Mr', ' Nils August'],
 [' Miss', ' Hildur E'],
 [' Master', ' Harold Victor'],
 [' Mr', ' Anthony Wood "Archie"'],
 [' Mr', ' Richard Henry'],
 [' Mrs', ' (Hedwig)'],
 [' Mr', ' Dickinson H'],
 [' Miss', ' Jeannie'],
 [' Mrs', ' Frederick Maxfield (Jane Anne Forby)'],
 [' Mr', ' Edward Austin'],
 [' Mr', ' Francis William'],
 [' Master', ' Eden Leslie "Neville"'],
 [' Mr', ' Konrad Mathias Reiersen'],
 [' Mr', ' Einar'],
 [' Mr', ' Harry Markland'],
 [' Mr', ' Ramon'],
 [' Mr', ' Edward Roland'],
 [' Mr', ' Gerious'],
 [' Miss', ' Elizabeth Mussey'],
 [' Mr', ' Frederick William'],
 [' Mrs', ' Hudson J C (Bessie Waldo Daniels)'],
 [' Mr', ' Olof'],
 [' Mr', ' Petar'],
 [' Miss', ' Mary'],
 [' Miss', ' Bridget Mary'],
 [' Miss', ' Kristina Sofia'],
 [' Miss', ' Roberta'],
 [' Mr', ' Victor de Satode'],
 [' Mrs', ' Frederick Charles (Jane Richards)'],
 [' Mr', ' George ("George Arthur Brayton")'],
 [' Mr', ' Henry Margido'],
 [' Mr', ' Fang'],
 [' Mr', ' Eugene Patrick'],
 [' Mr', ' James'],
 [' Mr', ' James Robert'],
 [' Mrs', ' Martin (Elizabeth L', ' Barrett)'],
 [' Mr', ' Satio'],
 [' Mr', ' William Anderson'],
 [' Mrs', ' (Amelia Milley)'],
 [' Mr', ' Patrick'],
 [' Mrs', ' William A (Florence "Mary" Agnes Hughes)'],
 [' Mr', ' Stefo'],
 [' Miss', ' Anne'],
 [' Mr', ' Janko'],
 [' Mr', ' Sarkis'],
 [' Mrs', ' Louis Albert (Ida Sophia Fischer)'],
 [' Mr', ' Fared'],
 [' Mr', ' James'],
 [' Miss', ' Lucy'],
 [' Mr', ' John'],
 [' Mr', ' Johan Werner'],
 [' Mr', ' Richard George'],
 [' Miss', ' Phyllis May'],
 [' Mr', ' Nakli'],
 [' Mr', ' Joseph Jr'],
 [' Mrs', ' Catherine (Catherine Rizk)'],
 [' Miss', ' Marija'],
 [' Miss', ' Eva Miriam'],
 [' Major', ' Archibald Willingham'],
 [' Miss', ' Bertha'],
 [' Mr', ' Samuel Beard'],
 [' Miss', ' Hedwig Margaritha'],
 [' Miss', ' Harriet R'],
 [' Miss', ' Ingeborg Constanzia'],
 [' Miss', ' Sigrid Elisabeth'],
 [' Mr', ' Edward'],
 [' Mr', ' Walter Donald'],
 [' Mr', ' Arthur Ernest'],
 [' Mrs', ' Edward (Ethel Clarke)'],
 [' Mr', ' Julian'],
 [' Mr', ' Frank John'],
 [' Master', ' John Morgan Jr'],
 [' Mr', ' John Borland Jr'],
 [' Mr', ' Percival James R'],
 [' Mr', ' Timothy'],
 [' Mr', ' Fahim ("Philip Zenni")'],
 [' Miss', ' Velin'],
 [' Mr', ' George'],
 [' Lady', ' (Lucille Christiana Sutherland) ("Mrs Morgan")'],
 [' Mr', ' Victor'],
 [' Mrs', ' Emil (Tillie Mandelbaum)'],
 [' Mrs', ' Guillaume Joseph (Emma)'],
 [' Mr', ' Thomas Rowan'],
 [' Mr', ' Husein'],
 [' Mr', ' Robert Douglas'],
 [' Mr', ' John'],
 [' Miss', ' (Marion Ogden)'],
 [' Mr', ' Alfred J'],
 [' Mr', ' Ilia'],
 [' Mrs', ' Nils (Alma Cornelia Berglund)'],
 [' Mr', ' Tannous'],
 [' Mr', ' Carl'],
 [' Mr', ' George'],
 [' Mrs', ' Edward Dale (Charlotte Lamson)'],
 [' Mr', ' John Irwin ("Irving")'],
 [' Miss', ' Mary'],
 [' Mr', ' Alfred George John'],
 [' Mr', ' George'],
 [' Miss', ' Ethel'],
 [' Mrs', ' William Baird (Alice Munger)'],
 [' Mrs', ' Joseph (Maria Elias)'],
 [' Mr', ' Eiriik'],
 [' Miss', ' Julie Rachel'],
 [' Mrs', ' John Borland (Marian Longstreth Morris)'],
 [' Mr', ' William James'],
 [' Mr', ' John Hugo'],
 [' Mr', ' Uscher'],
 [' Miss', ' Ruth'],
 [' Mr', ' John Denzil'],
 [' Mr', ' Maxmillian'],
 [' Mr', ' Eliezer'],
 [' Mr', ' Joseph'],
 [' Mr', ' Matti'],
 [' Mrs', ' Walter Bertram (Martha Eustis)'],
 [' Mr', ' William James'],
 [' Miss', ' Mary'],
 [' Mr', ' John Henry'],
 [' Mr', ' Jean Baptiste'],
 [' Miss', ' Jessie Wills'],
 [' Mr', ' Alfred'],
 [' Mr', ' Hanna'],
 [' Sir', ' Cosmo Edmund ("Mr Morgan")'],
 [' Mrs', ' Sidney Samuel (Amy Frances Christy)'],
 [' Mr', ' Petco'],
 [' Mr', ' Charles H'],
 [' Mr', ' Ernst William'],
 [' Mr', ' Harry ("Mr E Haven")'],
 [' Mr', ' Edvard Bengtsson'],
 [' Mr', ' Milan'],
 [' Mr', ' Robert Williams'],
 [' Mrs', ' Joseph (Juliette Marie Louise Lafargue)'],
 [' Miss', ' Elizabeth W'],
 [' Mrs', ' Anders Johan (Alfrida Konstantia Brogren)'],
 [' Mr', ' Jose Neto'],
 [' Miss', ' Margaret Jane'],
 [' Mr', ' John'],
 [' Mr', ' William Alfred'],
 [' Miss', ' Alice'],
 [' Mr', ' Ernst Gilbert'],
 [' Mrs', ' William Arthur (Cordelia K Stanlick)'],
 [' Miss', ' Marion Louise'],
 [' Mr', ' Lawrence'],
 [' Mr', ' Antoni'],
 [' Mr', ' Edwin Nelson Jr'],
 [' Mr', ' Sahid'],
 [' Mr', ' Henry Damsgaard'],
 [' Mr', ' David John "Dai"'],
 [' Mr', ' Frederick'],
 [' Rev', ' Charles Leonard'],
 [' Miss', ' Gretchen Fiske'],
 [' Mr', ' Guentcho'],
 [' Mr', ' Patrick D'],
 [' Mr', ' Algernon Henry Wilson'],
 [' Mr', ' Johan Svensson'],
 [' Dr', ' Max'],
 [' Mr', ' William Henry Marsh'],
 [' Miss', ' Mabel'],
 [' Miss', ' Mary'],
 [' Mr', ' Antti Gustaf'],
 [' Mr', ' Harvey'],
 [' Mrs', ' Juha (Maria Emilia Ojala)'],
 [' Mr', ' Percival'],
 [' Mr', ' Hans Peder'],
 [' Mlle', ' Emma'],
 [' Miss', ' Margit Elizabeth'],
 [' Mr', ' Choong'],
 [' Miss', ' Eugenie'],
 [' Mr', ' Henry Sleeper'],
 [' Mr', ' Liudevit'],
 [' Col', ' Oberst Alfons'],
 [' Mr', ' Edward'],
 [' Miss', ' Amy Zillah Elsie'],
 [' Mr', ' Mito'],
 [' Miss', ' Elsie'],
 [' Mr', ' Johannes Halvorsen'],
 [' Miss', ' Hanora "Norah"'],
 [' Miss', ' Hanora "Nora"'],
 [' Mr', ' Leonard Mark'],
 [' Mr', ' Alexander'],
 [' Mrs', ' John (Catherine)'],
 [' Mr', ' George Floyd'],
 [' Mr', ' Arthur Webster'],
 [' Dr', ' Henry William'],
 [' Mr', ' Mohamed'],
 [' Mr', ' Edward Pomeroy'],
 [' Mr', ' Peju'],
 [' Mr', ' Eino William'],
 [' Mr', ' Lewis'],
 [' Mr', ' Reginald Fenton'],
 [' Mr', ' Knud Paust'],
 [' Mr', ' Jacob'],
 [' Mrs', ' Elmer Zebley (Juliet Cummins Wright)'],
 [' Mrs', ' Thomas William Solomon (Elizabeth Catherine Ford)'],
 [' Mr', ' Thornton'],
 [' Mr', ' Henry Michael'],
 [' Mr', ' Charles'],
 [' Mr', ' Ennis Hastings'],
 [' Mr', ' Gustaf Hjalmar'],
 [' Mr', ' Frederick Charles'],
 [' Miss', ' Anna Sofia'],
 [' Mrs', ' Frederick (Augusta Tyler)'],
 [' Mr', ' Thomas Drake Martinez'],
 [' Miss', ' Katie'],
 [' Mr', ' Hammad'],
 [' Mr', ' Thor Anderson'],
 [' Mr', ' Charles Edward'],
 [' Mr', ' Thomas William Solomon'],
 [' Mr', ' Joseph Philippe Lemercier'],
 [' Mr', ' Jaako Arnold'],

In [17]:
names2 = []
for i in names1:
    z = i[0]
    names2.append(z)

In [18]:
names2

[' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Don',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Rev',
 ' Rev',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Master',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Rev',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Dr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mme',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Dr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Ms',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Major',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Major',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Lady',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Sir',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Rev',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mlle',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Col',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Col',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mlle',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Capt',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' the Countess',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Dr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Jonkheer',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Rev',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Rev',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr']

In [19]:
names3 = le.fit_transform(names2)

names2

In [20]:
names3

array([11, 12,  8, 12, 11, 11, 11,  7, 12, 12,  8,  8, 11, 11,  8, 12,  7,
       11, 12, 12, 11, 11,  8, 11,  8, 12, 11, 11,  8, 11,  2, 12,  8, 11,
       11, 11, 11, 11,  8,  8, 12, 12, 11,  8,  8, 11, 11,  8, 11, 12,  7,
       11, 12, 12, 11, 11,  8, 11,  8,  7, 11,  8, 11,  7, 11,  7, 12, 11,
        8, 11, 11,  8, 11, 11, 11, 11, 11, 11,  7,  8, 11, 11,  8, 11,  8,
       12, 11, 11,  8, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 11,  8, 11,
       11, 11, 11, 11,  8, 11, 11,  8, 11,  8, 11,  8,  8, 11, 11, 11, 11,
        8, 11, 11, 11,  8, 11,  7, 11, 11,  8, 11, 11, 11, 12, 12, 11, 11,
        8, 11, 11, 11, 12,  8, 12, 11, 11, 11, 11,  8, 11, 14, 14, 12, 11,
       11, 11, 11,  8, 11, 11,  7, 11, 12, 11, 11,  7,  7, 12, 12, 11, 11,
       11,  7,  8, 11, 11, 11,  7,  8, 11, 11,  8, 11,  7,  7,  8, 11, 12,
       11, 11, 11, 12, 11,  8,  7, 12,  8, 11, 11,  8,  8, 11, 11, 11, 11,
       11,  8, 11, 11,  8, 11, 11,  8, 11, 11, 11,  8,  8, 11,  8, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11,  8, 12, 11, 11,  8, 11,  8, 11,  8,
       11, 11,  8,  8, 11, 11, 11,  3,  8, 12, 11, 14, 11, 12, 11, 11, 12,
       12, 12,  8,  8, 12, 11,  7, 11, 11,  8, 11, 11, 11, 12,  8, 11, 11,
       12, 11,  8,  8,  8, 11,  7, 12, 11, 11, 11, 11, 11, 11, 11, 11, 11,
        8,  8, 12, 11,  8, 11, 11, 11,  8, 11, 12,  8, 11, 11,  8, 11,  7,
        8, 12, 11,  8,  8,  8, 12, 11, 11,  8, 12,  3,  8, 12, 11, 11,  8,
       12, 11,  8, 11, 12, 12,  8,  8, 11, 11, 11, 12, 11, 11,  8, 11, 11,
        7,  8, 11, 11, 11,  8,  8, 12,  7, 11, 11, 11, 11, 11, 11, 11,  8,
        8,  8,  8, 11, 11, 12, 11, 11, 11, 12, 12,  8, 10, 11, 11, 11, 11,
        8, 12,  8, 11, 11, 11,  8,  8, 11, 12, 11, 11,  7,  8, 11,  8, 11,
       11, 11,  8, 12, 11,  8, 11,  3, 12, 11, 11,  8, 11,  8, 11, 11,  7,
       11,  8, 11, 11,  8, 11, 11, 12, 12,  8, 11,  8, 11, 11, 11, 12, 11,
       11, 12,  8, 11, 11, 11, 12, 12, 11, 11,  8,  8, 12, 11, 11, 12, 11,
       11, 13, 11,  7,  8, 11,  8,  6, 11, 11, 11, 11, 11, 11, 11, 12,  8,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11,  8, 11, 11, 12, 12,  8, 11,
       11, 11, 11,  8,  7, 11, 11, 12, 11,  8, 12, 11, 11,  7, 11, 11, 11,
       11, 11, 11,  8, 11, 12, 11, 11,  8,  8,  8,  8, 11, 12, 11, 11, 11,
       11, 11, 11, 12, 11, 11, 12, 11, 12, 11,  8, 11, 11, 12, 11, 11,  8,
       11, 11, 11,  8, 11, 11, 12,  8,  8,  6,  8, 11,  8,  8,  8,  8, 11,
       11, 11, 12, 11, 11,  7, 11, 11, 11, 11,  8, 11,  5, 11, 12, 12, 11,
       11, 11, 11,  8, 11, 11, 12, 11, 11, 11, 12, 11,  8, 11, 11,  8, 12,
       12, 11,  8, 12, 11, 11, 11,  8, 11, 11, 11, 11, 11, 12, 11,  8, 11,
       11,  8, 11, 11, 15, 12, 11, 11, 11, 11, 11, 11, 11, 12,  8, 12, 11,
        8, 11, 11,  8, 11, 12,  8, 11, 11, 11, 11, 11, 11, 11, 14,  8, 11,
       11, 11, 11,  3, 11,  8,  8, 11, 11, 12, 11, 11,  9,  8, 11,  8, 11,
       11,  1, 11,  8, 11,  8, 11,  8,  8, 11, 11, 12, 11, 11,  3, 11, 11,
       11, 11, 11, 11, 11, 11, 12, 12, 11, 11, 11, 11, 11, 11,  8, 12, 11,
        8, 11, 11, 11, 11, 11, 11, 11, 11,  8, 11,  8, 11, 11,  1, 11, 11,
        8, 11, 11, 12, 11,  8, 11, 11, 11, 12, 11,  8,  7,  9, 11, 11, 11,
       11, 11,  8,  8, 11, 11,  8, 11, 11, 11, 11, 11, 12,  8, 11,  8,  8,
       11, 11, 11, 11, 11, 12, 11, 11, 11, 11, 11,  8, 11, 11,  0, 11,  8,
       11, 11,  8,  7, 11, 11, 12,  7, 11, 11, 11, 16, 11, 11, 11, 12, 11,
       12,  3,  8, 11, 11, 11, 11, 12, 11, 12, 11, 11,  8, 11, 12,  8, 12,
       11, 11, 11, 11,  8,  7,  7, 11, 11, 11,  8, 11, 11, 11,  3, 12, 11,
       12, 11, 12,  7,  7, 11, 11, 11,  8, 11, 12, 11, 11, 11,  8, 11, 11,
        8, 11, 11,  7, 12, 11,  4, 12,  7, 11, 11,  7, 11, 12, 12,  7, 11,
       11, 11,  8, 11, 11, 11, 11, 11, 11,  8, 11, 11, 11, 11, 11, 14, 12,
        7, 11,  8,  8, 12, 12, 12, 11, 12, 11, 11, 11, 12,  8, 11, 12,  8,
       11, 11,  7, 11, 12, 11, 11, 12,  8, 11, 11, 11, 12, 12, 11,  8, 11,
       11, 12, 14,  8,  8, 11, 11], dtype=int64)

In [21]:
s = set(names2)

In [22]:
s

{' Capt',
 ' Col',
 ' Don',
 ' Dr',
 ' Jonkheer',
 ' Lady',
 ' Major',
 ' Master',
 ' Miss',
 ' Mlle',
 ' Mme',
 ' Mr',
 ' Mrs',
 ' Ms',
 ' Rev',
 ' Sir',
 ' the Countess'}

In [28]:
names4 = []
for i in names2:
    if (i!=' Mr'and i!=' Mrs' and i!=' Master' and i!=' Miss'):
        
        names4.append('Rare')
    else:
        names4.append(i)

In [30]:
 names4

[' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 'Rare',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 'Rare',
 'Rare',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Master',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 'Rare',
 ' Miss',
 ' Mrs',
 ' Mr',
 'Rare',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 'Rare',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 'Rare',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 'Rare',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Miss',
 'Rare',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Miss',
 'Rare',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 'Rare',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 'Rare',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 'Rare',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Master',
 'Rare',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 'Rare',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 'Rare',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 'Rare',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 'Rare',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr']

In [31]:
dataset['Name'] = names4

In [32]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Mr,1,22,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,Mrs,0,38,1,0,PC 17599,71.2833,C85,0
2,3,1,3,Miss,0,26,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,Mrs,0,35,1,0,113803,53.1000,C123,2
4,5,0,3,Mr,1,35,0,0,373450,8.0500,NaN,2
5,6,0,3,Mr,1,29.69,0,0,330877,8.4583,NaN,1
6,7,0,1,Mr,1,54,0,0,17463,51.8625,E46,2
7,8,0,3,Master,1,2,3,1,349909,21.0750,NaN,2
8,9,1,3,Mrs,0,27,0,2,347742,11.1333,NaN,2
9,10,1,2,Mrs,0,14,1,0,237736,30.0708,NaN,0
10,11,1,3,Miss,0,4,1,1,PP 9549,16.7000,G6,2
11,12,1,1,Miss,0,58,0,0,113783,26.5500,C103,2
12,13,0,3,Mr,1,20,0,0,A/5. 2151,8.0500,NaN,2
13,14,0,3,Mr,1,39,1,5,347082,31.2750,NaN,2
14,15,0,3,Miss,0,14,0,0,350406,7.8542,NaN,2
15,16,1,2,Mrs,0,55,0,0,248706,16.0000,NaN,2
16,17,0,3,Master,1,2,4,1,382652,29.1250,NaN,1
17,18,1,2,Mr,1,29.69,0,0,244373,13.0000,NaN,2
18,19,0,3,Mrs,0,31,1,0,345763,18.0000,NaN,2
19,20,1,3,Mrs,0,29.69,0,0,2649,7.2250,NaN,0
20,21,0,2,Mr,1,35,0,0,239865,26.0000,NaN,2
21,22,1,2,Mr,1,34,0,0,248698,13.0000,D56,2
22,23,1,3,Miss,0,15,0,0,330923,8.0292,NaN,1
23,24,1,1,Mr,1,28,0,0,113788,35.5000,A6,2
24,25,0,3,Miss,0,8,3,1,349909,21.0750,NaN,2
25,26,1,3,Mrs,0,38,1,5,347077,31.3875,NaN,2
26,27,0,3,Mr,1,29.69,0,0,2631,7.2250,NaN,0
27,28,0,1,Mr,1,19,3,2,19950,263.0000,C23 C25 C27,2
28,29,1,3,Miss,0,29.69,0,0,330959,7.8792,NaN,1
29,30,0,3,Mr,1,29.69,0,0,349216,7.8958,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,Mr,1,21,1,0,28134,11.5000,NaN,2
862,863,1,1,Mrs,0,48,0,0,17466,25.9292,D17,2
863,864,0,3,Miss,0,29.69,8,2,CA. 2343,69.5500,NaN,2
864,865,0,2,Mr,1,24,0,0,233866,13.0000,NaN,2
865,866,1,2,Mrs,0,42,0,0,236852,13.0000,NaN,2
866,867,1,2,Miss,0,27,1,0,SC/PARIS 2149,13.8583,NaN,0
867,868,0,1,Mr,1,31,0,0,PC 17590,50.4958,A24,2
868,869,0,3,Mr,1,29.69,0,0,345777,9.5000,NaN,2
869,870,1,3,Master,1,4,1,1,347742,11.1333,NaN,2
870,871,0,3,Mr,1,26,0,0,349248,7.8958,NaN,2
871,872,1,1,Mrs,0,47,1,1,11751,52.5542,D35,2
872,873,0,1,Mr,1,33,0,0,695,5.0000,B51 B53 B55,2
873,874,0,3,Mr,1,47,0,0,345765,9.0000,NaN,2
874,875,1,2,Mrs,0,28,1,0,P/PP 3381,24.0000,NaN,0
875,876,1,3,Miss,0,15,0,0,2667,7.2250,NaN,0
876,877,0,3,Mr,1,20,0,0,7534,9.8458,NaN,2
877,878,0,3,Mr,1,19,0,0,349212,7.8958,NaN,2
878,879,0,3,Mr,1,29.69,0,0,349217,7.8958,NaN,2
879,880,1,1,Mrs,0,56,0,1,11767,83.1583,C50,0
880,881,1,2,Mrs,0,25,0,1,230433,26.0000,NaN,2
881,882,0,3,Mr,1,33,0,0,349257,7.8958,NaN,2
882,883,0,3,Miss,0,22,0,0,7552,10.5167,NaN,2
883,884,0,2,Mr,1,28,0,0,C.A./SOTON 34068,10.5000,NaN,2
884,885,0,3,Mr,1,25,0,0,SOTON/OQ 392076,7.0500,NaN,2
885,886,0,3,Mrs,0,39,0,5,382652,29.1250,NaN,1
886,887,0,2,Rare,1,27,0,0,211536,13.0000,NaN,2
887,888,1,1,Miss,0,19,0,0,112053,30.0000,B42,2
888,889,0,3,Miss,0,29.69,1,2,W./C. 6607,23.4500,NaN,2
889,890,1,1,Mr,1,26,0,0,111369,30.0000,C148,0
890,891,0,3,Mr,1,32,0,0,370376,7.7500,NaN,1

In [33]:
dataset['Name'] = le.fit_transform(dataset['Name'])

In [34]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,2,1,22,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,3,0,38,1,0,PC 17599,71.2833,C85,0
2,3,1,3,1,0,26,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,3,0,35,1,0,113803,53.1000,C123,2
4,5,0,3,2,1,35,0,0,373450,8.0500,NaN,2
5,6,0,3,2,1,29.69,0,0,330877,8.4583,NaN,1
6,7,0,1,2,1,54,0,0,17463,51.8625,E46,2
7,8,0,3,0,1,2,3,1,349909,21.0750,NaN,2
8,9,1,3,3,0,27,0,2,347742,11.1333,NaN,2
9,10,1,2,3,0,14,1,0,237736,30.0708,NaN,0
10,11,1,3,1,0,4,1,1,PP 9549,16.7000,G6,2
11,12,1,1,1,0,58,0,0,113783,26.5500,C103,2
12,13,0,3,2,1,20,0,0,A/5. 2151,8.0500,NaN,2
13,14,0,3,2,1,39,1,5,347082,31.2750,NaN,2
14,15,0,3,1,0,14,0,0,350406,7.8542,NaN,2
15,16,1,2,3,0,55,0,0,248706,16.0000,NaN,2
16,17,0,3,0,1,2,4,1,382652,29.1250,NaN,1
17,18,1,2,2,1,29.69,0,0,244373,13.0000,NaN,2
18,19,0,3,3,0,31,1,0,345763,18.0000,NaN,2
19,20,1,3,3,0,29.69,0,0,2649,7.2250,NaN,0
20,21,0,2,2,1,35,0,0,239865,26.0000,NaN,2
21,22,1,2,2,1,34,0,0,248698,13.0000,D56,2
22,23,1,3,1,0,15,0,0,330923,8.0292,NaN,1
23,24,1,1,2,1,28,0,0,113788,35.5000,A6,2
24,25,0,3,1,0,8,3,1,349909,21.0750,NaN,2
25,26,1,3,3,0,38,1,5,347077,31.3875,NaN,2
26,27,0,3,2,1,29.69,0,0,2631,7.2250,NaN,0
27,28,0,1,2,1,19,3,2,19950,263.0000,C23 C25 C27,2
28,29,1,3,1,0,29.69,0,0,330959,7.8792,NaN,1
29,30,0,3,2,1,29.69,0,0,349216,7.8958,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,2,1,21,1,0,28134,11.5000,NaN,2
862,863,1,1,3,0,48,0,0,17466,25.9292,D17,2
863,864,0,3,1,0,29.69,8,2,CA. 2343,69.5500,NaN,2
864,865,0,2,2,1,24,0,0,233866,13.0000,NaN,2
865,866,1,2,3,0,42,0,0,236852,13.0000,NaN,2
866,867,1,2,1,0,27,1,0,SC/PARIS 2149,13.8583,NaN,0
867,868,0,1,2,1,31,0,0,PC 17590,50.4958,A24,2
868,869,0,3,2,1,29.69,0,0,345777,9.5000,NaN,2
869,870,1,3,0,1,4,1,1,347742,11.1333,NaN,2
870,871,0,3,2,1,26,0,0,349248,7.8958,NaN,2
871,872,1,1,3,0,47,1,1,11751,52.5542,D35,2
872,873,0,1,2,1,33,0,0,695,5.0000,B51 B53 B55,2
873,874,0,3,2,1,47,0,0,345765,9.0000,NaN,2
874,875,1,2,3,0,28,1,0,P/PP 3381,24.0000,NaN,0
875,876,1,3,1,0,15,0,0,2667,7.2250,NaN,0
876,877,0,3,2,1,20,0,0,7534,9.8458,NaN,2
877,878,0,3,2,1,19,0,0,349212,7.8958,NaN,2
878,879,0,3,2,1,29.69,0,0,349217,7.8958,NaN,2
879,880,1,1,3,0,56,0,1,11767,83.1583,C50,0
880,881,1,2,3,0,25,0,1,230433,26.0000,NaN,2
881,882,0,3,2,1,33,0,0,349257,7.8958,NaN,2
882,883,0,3,1,0,22,0,0,7552,10.5167,NaN,2
883,884,0,2,2,1,28,0,0,C.A./SOTON 34068,10.5000,NaN,2
884,885,0,3,2,1,25,0,0,SOTON/OQ 392076,7.0500,NaN,2
885,886,0,3,3,0,39,0,5,382652,29.1250,NaN,1
886,887,0,2,4,1,27,0,0,211536,13.0000,NaN,2
887,888,1,1,1,0,19,0,0,112053,30.0000,B42,2
888,889,0,3,1,0,29.69,1,2,W./C. 6607,23.4500,NaN,2
889,890,1,1,2,1,26,0,0,111369,30.0000,C148,0
890,891,0,3,2,1,32,0,0,370376,7.7500,NaN,1

In [35]:
married = []
for i in names2:
    if i == ' Mr' or i == ' Mrs':
        married.append(1)
    else:
        married.append(0)

In [36]:
married

[1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1]

In [37]:
dataset['Married'] = married

In [74]:
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Married
0,1,0,3,2,1,22,1,0,A/5 21171,7.2500,NaN,2,1
1,2,1,1,3,0,38,1,0,PC 17599,71.2833,C85,0,1
2,3,1,3,1,0,26,0,0,STON/O2. 3101282,7.9250,NaN,2,0
3,4,1,1,3,0,35,1,0,113803,53.1000,C123,2,1
4,5,0,3,2,1,35,0,0,373450,8.0500,NaN,2,1
5,6,0,3,2,1,29.69,0,0,330877,8.4583,NaN,1,1
6,7,0,1,2,1,54,0,0,17463,51.8625,E46,2,1
7,8,0,3,0,1,2,3,1,349909,21.0750,NaN,2,0
8,9,1,3,3,0,27,0,2,347742,11.1333,NaN,2,1
9,10,1,2,3,0,14,1,0,237736,30.0708,NaN,0,1
10,11,1,3,1,0,4,1,1,PP 9549,16.7000,G6,2,0
11,12,1,1,1,0,58,0,0,113783,26.5500,C103,2,0
12,13,0,3,2,1,20,0,0,A/5. 2151,8.0500,NaN,2,1
13,14,0,3,2,1,39,1,5,347082,31.2750,NaN,2,1
14,15,0,3,1,0,14,0,0,350406,7.8542,NaN,2,0
15,16,1,2,3,0,55,0,0,248706,16.0000,NaN,2,1
16,17,0,3,0,1,2,4,1,382652,29.1250,NaN,1,0
17,18,1,2,2,1,29.69,0,0,244373,13.0000,NaN,2,1
18,19,0,3,3,0,31,1,0,345763,18.0000,NaN,2,1
19,20,1,3,3,0,29.69,0,0,2649,7.2250,NaN,0,1
20,21,0,2,2,1,35,0,0,239865,26.0000,NaN,2,1
21,22,1,2,2,1,34,0,0,248698,13.0000,D56,2,1
22,23,1,3,1,0,15,0,0,330923,8.0292,NaN,1,0
23,24,1,1,2,1,28,0,0,113788,35.5000,A6,2,1
24,25,0,3,1,0,8,3,1,349909,21.0750,NaN,2,0
25,26,1,3,3,0,38,1,5,347077,31.3875,NaN,2,1
26,27,0,3,2,1,29.69,0,0,2631,7.2250,NaN,0,1
27,28,0,1,2,1,19,3,2,19950,263.0000,C23 C25 C27,2,1
28,29,1,3,1,0,29.69,0,0,330959,7.8792,NaN,1,0
29,30,0,3,2,1,29.69,0,0,349216,7.8958,NaN,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,2,1,21,1,0,28134,11.5000,NaN,2,1
862,863,1,1,3,0,48,0,0,17466,25.9292,D17,2,1
863,864,0,3,1,0,29.69,8,2,CA. 2343,69.5500,NaN,2,0
864,865,0,2,2,1,24,0,0,233866,13.0000,NaN,2,1
865,866,1,2,3,0,42,0,0,236852,13.0000,NaN,2,1
866,867,1,2,1,0,27,1,0,SC/PARIS 2149,13.8583,NaN,0,0
867,868,0,1,2,1,31,0,0,PC 17590,50.4958,A24,2,1
868,869,0,3,2,1,29.69,0,0,345777,9.5000,NaN,2,1
869,870,1,3,0,1,4,1,1,347742,11.1333,NaN,2,0
870,871,0,3,2,1,26,0,0,349248,7.8958,NaN,2,1
871,872,1,1,3,0,47,1,1,11751,52.5542,D35,2,1
872,873,0,1,2,1,33,0,0,695,5.0000,B51 B53 B55,2,1
873,874,0,3,2,1,47,0,0,345765,9.0000,NaN,2,1
874,875,1,2,3,0,28,1,0,P/PP 3381,24.0000,NaN,0,1
875,876,1,3,1,0,15,0,0,2667,7.2250,NaN,0,0
876,877,0,3,2,1,20,0,0,7534,9.8458,NaN,2,1
877,878,0,3,2,1,19,0,0,349212,7.8958,NaN,2,1
878,879,0,3,2,1,29.69,0,0,349217,7.8958,NaN,2,1
879,880,1,1,3,0,56,0,1,11767,83.1583,C50,0,1
880,881,1,2,3,0,25,0,1,230433,26.0000,NaN,2,1
881,882,0,3,2,1,33,0,0,349257,7.8958,NaN,2,1
882,883,0,3,1,0,22,0,0,7552,10.5167,NaN,2,0
883,884,0,2,2,1,28,0,0,C.A./SOTON 34068,10.5000,NaN,2,1
884,885,0,3,2,1,25,0,0,SOTON/OQ 392076,7.0500,NaN,2,1
885,886,0,3,3,0,39,0,5,382652,29.1250,NaN,1,1
886,887,0,2,4,1,27,0,0,211536,13.0000,NaN,2,0
887,888,1,1,1,0,19,0,0,112053,30.0000,B42,2,0
888,889,0,3,1,0,29.69,1,2,W./C. 6607,23.4500,NaN,2,0
889,890,1,1,2,1,26,0,0,111369,30.0000,C148,0,1
890,891,0,3,2,1,32,0,0,370376,7.7500,NaN,1,1

In [155]:
df = pd.DataFrame()
df = dataset.iloc[:,2:7]

In [156]:
df

     Pclass  Name  Sex    Age  SibSp
0         3     2    1     22      1
1         1     3    0     38      1
2         3     1    0     26      0
3         1     3    0     35      1
4         3     2    1     35      0
5         3     2    1  29.69      0
6         1     2    1     54      0
7         3     0    1      2      3
8         3     3    0     27      0
9         2     3    0     14      1
10        3     1    0      4      1
11        1     1    0     58      0
12        3     2    1     20      0
13        3     2    1     39      1
14        3     1    0     14      0
15        2     3    0     55      0
16        3     0    1      2      4
17        2     2    1  29.69      0
18        3     3    0     31      1
19        3     3    0  29.69      0
20        2     2    1     35      0
21        2     2    1     34      0
22        3     1    0     15      0
23        1     2    1     28      0
24        3     1    0      8      3
25        3     3    0     38      1
26        3     2    1  29.69      0
27        1     2    1     19      3
28        3     1    0  29.69      0
29        3     2    1  29.69      0
..      ...   ...  ...    ...    ...
861       2     2    1     21      1
862       1     3    0     48      0
863       3     1    0  29.69      8
864       2     2    1     24      0
865       2     3    0     42      0
866       2     1    0     27      1
867       1     2    1     31      0
868       3     2    1  29.69      0
869       3     0    1      4      1
870       3     2    1     26      0
871       1     3    0     47      1
872       1     2    1     33      0
873       3     2    1     47      0
874       2     3    0     28      1
875       3     1    0     15      0
876       3     2    1     20      0
877       3     2    1     19      0
878       3     2    1  29.69      0
879       1     3    0     56      0
880       2     3    0     25      0
881       3     2    1     33      0
882       3     1    0     22      0
883       2     2    1     28      0
884       3     2    1     25      0
885       3     3    0     39      0
886       2     4    1     27      0
887       1     1    0     19      0
888       3     1    0  29.69      1
889       1     2    1     26      0
890       3     2    1     32      0

[891 rows x 5 columns]

In [157]:
df

     Pclass  Name  Sex    Age  SibSp
0         3     2    1     22      1
1         1     3    0     38      1
2         3     1    0     26      0
3         1     3    0     35      1
4         3     2    1     35      0
5         3     2    1  29.69      0
6         1     2    1     54      0
7         3     0    1      2      3
8         3     3    0     27      0
9         2     3    0     14      1
10        3     1    0      4      1
11        1     1    0     58      0
12        3     2    1     20      0
13        3     2    1     39      1
14        3     1    0     14      0
15        2     3    0     55      0
16        3     0    1      2      4
17        2     2    1  29.69      0
18        3     3    0     31      1
19        3     3    0  29.69      0
20        2     2    1     35      0
21        2     2    1     34      0
22        3     1    0     15      0
23        1     2    1     28      0
24        3     1    0      8      3
25        3     3    0     38      1
26        3     2    1  29.69      0
27        1     2    1     19      3
28        3     1    0  29.69      0
29        3     2    1  29.69      0
..      ...   ...  ...    ...    ...
861       2     2    1     21      1
862       1     3    0     48      0
863       3     1    0  29.69      8
864       2     2    1     24      0
865       2     3    0     42      0
866       2     1    0     27      1
867       1     2    1     31      0
868       3     2    1  29.69      0
869       3     0    1      4      1
870       3     2    1     26      0
871       1     3    0     47      1
872       1     2    1     33      0
873       3     2    1     47      0
874       2     3    0     28      1
875       3     1    0     15      0
876       3     2    1     20      0
877       3     2    1     19      0
878       3     2    1  29.69      0
879       1     3    0     56      0
880       2     3    0     25      0
881       3     2    1     33      0
882       3     1    0     22      0
883       2     2    1     28      0
884       3     2    1     25      0
885       3     3    0     39      0
886       2     4    1     27      0
887       1     1    0     19      0
888       3     1    0  29.69      1
889       1     2    1     26      0
890       3     2    1     32      0

[891 rows x 5 columns]

In [158]:
df['Fare'] = dataset.iloc[:,9]

In [159]:
df['Embarked'] = dataset.iloc[:,11]

In [160]:
df['Married'] = dataset.iloc[:,12]

In [161]:
df['PassengerID'] = dataset.iloc[:,0]

In [162]:
df['Survived'] = dataset.iloc[:,1]

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
      ...
861    862
862    863
863    864
864    865
865    866
866    867
867    868
868    869
869    870
870    871
871    872
872    873
873    874
874    875
875    876
876    877
877    878
878    879
879    880
880    881
881    882
882    883
883    884
884    885
885    886
886    887
887    888
888    889
889    890
890    891
Name: PassengerID, Length: 891, dtype: int64

In [169]:
df = df.drop(['PassengerID'],axis = 1)
df = df.drop(['Fare'],axis = 1)
df

KeyError: "['PassengerID'] not found in axis"

In [237]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [238]:
classifier = Sequential()

In [103]:
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu')
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu')

SyntaxError: invalid syntax (<ipython-input-103-2990f9b15218>, line 3)

In [239]:
classifier.add(Dense(output_dim = 4, init = 'uniform', activation = 'relu', input_dim = 7))
classifier.add(Dense(output_dim = 4, init = 'uniform', activation = 'relu'))
classifier.add(Dense(output_dim = 2, init = 'uniform', activation = 'relu'))

C:\Users\senthil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=7, units=4, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.
C:\Users\senthil\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=4, kernel_initializer="uniform")`

C:\Users\senthil\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=2, kernel_initializer="uniform")`
  This is separate from the ipykernel package so we can avoid doing imports until

In [240]:
classifier.add(Dense(output_dim = 1,init = 'uniform',activation = 'sigmoid'))

C:\Users\senthil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [241]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [243]:
x = df.iloc[:,0:7]
y = df.iloc[:,7]
y

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [244]:
classifier.fit(x,y,batch_size = 10,nb_epoch = 100,verbose = 1)

C:\Users\senthil\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
891/891 [==============================] - 1s 919us/step - loss: 0.6892 - acc: 0.6162
Epoch 2/100
891/891 [==============================] - 0s 281us/step - loss: 0.6720 - acc: 0.6162
Epoch 3/100
891/891 [==============================] - 0s 220us/step - loss: 0.6600 - acc: 0.6162
Epoch 4/100
891/891 [==============================] - 0s 276us/step - loss: 0.6575 - acc: 0.6162
Epoch 5/100
891/891 [==============================] - 0s 214us/step - loss: 0.6564 - acc: 0.6162
Epoch 6/100
891/891 [==============================] - 0s 251us/step - loss: 0.6547 - acc: 0.6162
Epoch 7/100
891/891 [==============================] - 0s 241us/step - loss: 0.6519 - acc: 0.6162
Epoch 8/100
891/891 [==============================] - 0s 263us/step - loss: 0.6495 - acc: 0.6162
Epoch 9/100
891/891 [==============================] - 0s 223us/step - loss: 0.6464 - acc: 0.6162
Epoch 10/100
891/891 [==============================] - 0s 230us/step - loss: 0.6418 - acc: 0.6162
Epoch 11/100
891/891 [==============================] - 0s 247us/step - loss: 0.6365 - acc: 0.6162
Epoch 12/100
891/891 [==============================] - 0s 218us/step - loss: 0.6267 - acc: 0.6162
Epoch 13/100
891/891 [==============================] - 0s 277us/step - loss: 0.6129 - acc: 0.6162
Epoch 14/100
891/891 [==============================] - 0s 335us/step - loss: 0.5900 - acc: 0.6453
Epoch 15/100
891/891 [==============================] - 0s 319us/step - loss: 0.5686 - acc: 0.6846
Epoch 16/100
891/891 [==============================] - 0s 270us/step - loss: 0.5541 - acc: 0.7306
Epoch 17/100
891/891 [==============================] - 0s 243us/step - loss: 0.5454 - acc: 0.7419
Epoch 18/100
891/891 [==============================] - 0s 365us/step - loss: 0.5364 - acc: 0.7542
Epoch 19/100
891/891 [==============================] - 0s 295us/step - loss: 0.5303 - acc: 0.7587
Epoch 20/100
891/891 [==============================] - 0s 335us/step - loss: 0.5213 - acc: 0.7643
Epoch 21/100
891/891 [==============================] - 0s 231us/step - loss: 0.5148 - acc: 0.7722
Epoch 22/100
891/891 [==============================] - 0s 214us/step - loss: 0.5119 - acc: 0.7767
Epoch 23/100
891/891 [==============================] - 0s 274us/step - loss: 0.5049 - acc: 0.7722
Epoch 24/100
891/891 [==============================] - 0s 257us/step - loss: 0.5009 - acc: 0.7823
Epoch 25/100
891/891 [==============================] - 0s 241us/step - loss: 0.4952 - acc: 0.7856
Epoch 26/100
891/891 [==============================] - 0s 247us/step - loss: 0.4928 - acc: 0.7991
Epoch 27/100
891/891 [==============================] - 0s 208us/step - loss: 0.4873 - acc: 0.8070
Epoch 28/100
891/891 [==============================] - 0s 211us/step - loss: 0.4869 - acc: 0.8103
Epoch 29/100
891/891 [==============================] - 0s 261us/step - loss: 0.4838 - acc: 0.8159
Epoch 30/100
891/891 [==============================] - 0s 358us/step - loss: 0.4765 - acc: 0.8148
Epoch 31/100
891/891 [==============================] - 0s 231us/step - loss: 0.4739 - acc: 0.8215
Epoch 32/100
891/891 [==============================] - 0s 219us/step - loss: 0.4710 - acc: 0.8204
Epoch 33/100
891/891 [==============================] - 0s 277us/step - loss: 0.4697 - acc: 0.8238
Epoch 34/100
891/891 [==============================] - 0s 255us/step - loss: 0.4664 - acc: 0.8159
Epoch 35/100
891/891 [==============================] - 0s 252us/step - loss: 0.4629 - acc: 0.8227
Epoch 36/100
891/891 [==============================] - 0s 269us/step - loss: 0.4626 - acc: 0.8272
Epoch 37/100
891/891 [==============================] - 0s 275us/step - loss: 0.4594 - acc: 0.8238
Epoch 38/100
891/891 [==============================] - 0s 230us/step - loss: 0.4570 - acc: 0.8238
Epoch 39/100
891/891 [==============================] - 0s 216us/step - loss: 0.4562 - acc: 0.8283
Epoch 40/100
891/891 [==============================] - 0s 252us/step - loss: 0.4565 - acc: 0.8193
Epoch 41/100
891/891 [==============================] - 0s 273us/step - loss: 0.4530 - acc: 0.8249
Epoch 42/100
891/891 [==============================] - 0s 245us/step - loss: 0.4536 - acc: 0.8148
Epoch 43/100
891/891 [==============================] - 0s 244us/step - loss: 0.4502 - acc: 0.8204
Epoch 44/100
891/891 [==============================] - 0s 290us/step - loss: 0.4521 - acc: 0.8193
Epoch 45/100
891/891 [==============================] - 0s 264us/step - loss: 0.4492 - acc: 0.8193
Epoch 46/100
891/891 [==============================] - 0s 354us/step - loss: 0.4490 - acc: 0.8260
Epoch 47/100
891/891 [==============================] - 0s 402us/step - loss: 0.4457 - acc: 0.8283
Epoch 48/100
891/891 [==============================] - 0s 323us/step - loss: 0.4452 - acc: 0.8238
Epoch 49/100
891/891 [==============================] - 0s 295us/step - loss: 0.4430 - acc: 0.8227
Epoch 50/100
891/891 [==============================] - 0s 281us/step - loss: 0.4423 - acc: 0.8272
Epoch 51/100
891/891 [==============================] - 0s 279us/step - loss: 0.4434 - acc: 0.8182
Epoch 52/100
891/891 [==============================] - 0s 324us/step - loss: 0.4418 - acc: 0.8283
Epoch 53/100
891/891 [==============================] - 0s 355us/step - loss: 0.4396 - acc: 0.8238
Epoch 54/100
891/891 [==============================] - 0s 276us/step - loss: 0.4407 - acc: 0.8283 0s - loss: 0.4633 - acc: 0.8
Epoch 55/100
891/891 [==============================] - 0s 343us/step - loss: 0.4380 - acc: 0.8272
Epoch 56/100
891/891 [==============================] - 0s 352us/step - loss: 0.4385 - acc: 0.8204
Epoch 57/100
891/891 [==============================] - 0s 297us/step - loss: 0.4361 - acc: 0.8227
Epoch 58/100
891/891 [==============================] - 0s 313us/step - loss: 0.4356 - acc: 0.8238
Epoch 59/100
891/891 [==============================] - 0s 371us/step - loss: 0.4354 - acc: 0.8260
Epoch 60/100
891/891 [==============================] - 0s 247us/step - loss: 0.4381 - acc: 0.8215
Epoch 61/100
891/891 [==============================] - 0s 307us/step - loss: 0.4339 - acc: 0.8227
Epoch 62/100
891/891 [==============================] - 0s 321us/step - loss: 0.4375 - acc: 0.8305
Epoch 63/100
891/891 [==============================] - 0s 274us/step - loss: 0.4331 - acc: 0.8294
Epoch 64/100
891/891 [==============================] - 0s 294us/step - loss: 0.4327 - acc: 0.8272
Epoch 65/100
891/891 [==============================] - 0s 278us/step - loss: 0.4323 - acc: 0.8294
Epoch 66/100
891/891 [==============================] - 0s 306us/step - loss: 0.4329 - acc: 0.8272
Epoch 67/100
891/891 [==============================] - 0s 264us/step - loss: 0.4311 - acc: 0.8316
Epoch 68/100
891/891 [==============================] - 0s 273us/step - loss: 0.4288 - acc: 0.8238
Epoch 69/100
891/891 [==============================] - 0s 260us/step - loss: 0.4310 - acc: 0.8305
Epoch 70/100
891/891 [==============================] - 0s 213us/step - loss: 0.4316 - acc: 0.8361
Epoch 71/100
891/891 [==============================] - 0s 328us/step - loss: 0.4294 - acc: 0.8249
Epoch 72/100
891/891 [==============================] - 0s 270us/step - loss: 0.4297 - acc: 0.8328
Epoch 73/100
891/891 [==============================] - 0s 333us/step - loss: 0.4295 - acc: 0.8249
Epoch 74/100
891/891 [==============================] - 0s 289us/step - loss: 0.4299 - acc: 0.8283
Epoch 75/100
891/891 [==============================] - 0s 282us/step - loss: 0.4284 - acc: 0.8339
Epoch 76/100
891/891 [==============================] - 0s 317us/step - loss: 0.4283 - acc: 0.8294
Epoch 77/100
891/891 [==============================] - 0s 263us/step - loss: 0.4295 - acc: 0.8238 0s - loss: 0.3479 - acc: 0.
Epoch 78/100
891/891 [==============================] - 0s 350us/step - loss: 0.4283 - acc: 0.8316
Epoch 79/100
891/891 [==============================] - 0s 284us/step - loss: 0.4289 - acc: 0.8294
Epoch 80/100
891/891 [==============================] - 0s 261us/step - loss: 0.4269 - acc: 0.8283
Epoch 81/100
891/891 [==============================] - 0s 262us/step - loss: 0.4265 - acc: 0.8283
Epoch 82/100
891/891 [==============================] - 0s 270us/step - loss: 0.4258 - acc: 0.8350
Epoch 83/100

891/891 [==============================] - 0s 292us/step - loss: 0.4282 - acc: 0.8193
Epoch 84/100
891/891 [==============================] - 0s 254us/step - loss: 0.4267 - acc: 0.8294
Epoch 85/100
891/891 [==============================] - 0s 285us/step - loss: 0.4262 - acc: 0.8305
Epoch 86/100
891/891 [==============================] - 0s 302us/step - loss: 0.4246 - acc: 0.8249
Epoch 87/100
891/891 [==============================] - 0s 278us/step - loss: 0.4257 - acc: 0.8305
Epoch 88/100
891/891 [==============================] - 0s 316us/step - loss: 0.4267 - acc: 0.8350
Epoch 89/100
891/891 [==============================] - 0s 266us/step - loss: 0.4270 - acc: 0.8294
Epoch 90/100
891/891 [==============================] - 0s 318us/step - loss: 0.4235 - acc: 0.8249
Epoch 91/100
891/891 [==============================] - 0s 271us/step - loss: 0.4245 - acc: 0.8294
Epoch 92/100
891/891 [==============================] - 0s 324us/step - loss: 0.4241 - acc: 0.8260
Epoch 93/100
891/891 [==============================] - 0s 342us/step - loss: 0.4263 - acc: 0.8249 0s - loss: 0.4411 - acc: 0.8
Epoch 94/100
891/891 [==============================] - 0s 289us/step - loss: 0.4257 - acc: 0.8272
Epoch 95/100
891/891 [==============================] - 0s 271us/step - loss: 0.4230 - acc: 0.8283
Epoch 96/100
891/891 [==============================] - 0s 276us/step - loss: 0.4233 - acc: 0.8328
Epoch 97/100
891/891 [==============================] - 0s 305us/step - loss: 0.4237 - acc: 0.8238
Epoch 98/100
891/891 [==============================] - 0s 330us/step - loss: 0.4232 - acc: 0.8283
Epoch 99/100
891/891 [==============================] - 0s 288us/step - loss: 0.4227 - acc: 0.8294
Epoch 100/100
891/891 [==============================] - 0s 269us/step - loss: 0.4224 - acc: 0.8283

In [187]:
test = pd.read_csv('test.csv')

In [146]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df = sc.fit_transform(df)

C:\Users\senthil\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int32, int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\senthil\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int32, int64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [188]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [189]:
status = test['Name']

0                                       Kelly, Mr. James
1                       Wilkes, Mrs. James (Ellen Needs)
2                              Myles, Mr. Thomas Francis
3                                       Wirz, Mr. Albert
4           Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5                             Svensson, Mr. Johan Cervin
6                                   Connolly, Miss. Kate
7                           Caldwell, Mr. Albert Francis
8              Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9                                Davies, Mr. John Samuel
10                                      Ilieff, Mr. Ylio
11                            Jones, Mr. Charles Cresson
12         Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13                                  Howard, Mr. Benjamin
14     Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15         del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16                                     Keane, Mr. Daniel
17                                     Assaf, Mr. Gerios
18                          Ilmakangas, Miss. Ida Livija
19                 Assaf Khalil, Mrs. Mariana (Miriam")"
20                                Rothschild, Mr. Martin
21                             Olsen, Master. Artur Karl
22                  Flegenheim, Mrs. Alfred (Antoinette)
23                       Williams, Mr. Richard Norris II
24       Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25                               Robins, Mr. Alexander A
26                          Ostby, Miss. Helene Ragnhild
27                                     Daher, Mr. Shedid
28                               Brady, Mr. John Bertram
29                                     Samaan, Mr. Elias
                             ...
388                                 Canavan, Mr. Patrick
389                          Palsson, Master. Paul Folke
390                           Payne, Mr. Vivian Ponsonby
391       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392                        Abbott, Master. Eugene Joseph
393                                 Gilbert, Mr. William
394                             Kink-Heilmann, Mr. Anton
395       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396                                 Colbert, Mr. Patrick
397    Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398                       Larsson-Rondberg, Mr. Edvard A
399                             Conlon, Mr. Thomas Henry
400                              Bonnell, Miss. Caroline
401                                      Gale, Mr. Harry
402                       Gibson, Miss. Dorothy Winifred
403                               Carrau, Mr. Jose Pedro
404                         Frauenthal, Mr. Isaac Gerald
405         Nourney, Mr. Alfred (Baron von Drachstedt")"
406                            Ware, Mr. William Jeffery
407                           Widener, Mr. George Dunton
408                      Riordan, Miss. Johanna Hannah""
409                            Peacock, Miss. Treasteall
410                               Naughton, Miss. Hannah
411      Minahan, Mrs. William Edward (Lillian E Thorpe)
412                       Henriksson, Miss. Jenny Lovisa
413                                   Spector, Mr. Woolf
414                         Oliva y Ocana, Dona. Fermina
415                         Saether, Mr. Simon Sivertsen
416                                  Ware, Mr. Frederick
417                             Peter, Master. Michael J
Name: Name, Length: 418, dtype: object

In [191]:
status1 = []
for i in status:
    y = i.split(",")
    status1.append(y)

In [192]:
status1

[['Kelly', ' Mr. James'],
 ['Wilkes', ' Mrs. James (Ellen Needs)'],
 ['Myles', ' Mr. Thomas Francis'],
 ['Wirz', ' Mr. Albert'],
 ['Hirvonen', ' Mrs. Alexander (Helga E Lindqvist)'],
 ['Svensson', ' Mr. Johan Cervin'],
 ['Connolly', ' Miss. Kate'],
 ['Caldwell', ' Mr. Albert Francis'],
 ['Abrahim', ' Mrs. Joseph (Sophie Halaut Easu)'],
 ['Davies', ' Mr. John Samuel'],
 ['Ilieff', ' Mr. Ylio'],
 ['Jones', ' Mr. Charles Cresson'],
 ['Snyder', ' Mrs. John Pillsbury (Nelle Stevenson)'],
 ['Howard', ' Mr. Benjamin'],
 ['Chaffee', ' Mrs. Herbert Fuller (Carrie Constance Toogood)'],
 ['del Carlo', ' Mrs. Sebastiano (Argenia Genovesi)'],
 ['Keane', ' Mr. Daniel'],
 ['Assaf', ' Mr. Gerios'],
 ['Ilmakangas', ' Miss. Ida Livija'],
 ['Assaf Khalil', ' Mrs. Mariana (Miriam")"'],
 ['Rothschild', ' Mr. Martin'],
 ['Olsen', ' Master. Artur Karl'],
 ['Flegenheim', ' Mrs. Alfred (Antoinette)'],
 ['Williams', ' Mr. Richard Norris II'],
 ['Ryerson', ' Mrs. Arthur Larned (Emily Maria Borie)'],
 ['Robins', ' Mr. Alexander A'],
 ['Ostby', ' Miss. Helene Ragnhild'],
 ['Daher', ' Mr. Shedid'],
 ['Brady', ' Mr. John Bertram'],
 ['Samaan', ' Mr. Elias'],
 ['Louch', ' Mr. Charles Alexander'],
 ['Jefferys', ' Mr. Clifford Thomas'],
 ['Dean', ' Mrs. Bertram (Eva Georgetta Light)'],
 ['Johnston', ' Mrs. Andrew G (Elizabeth Lily" Watson)"'],
 ['Mock', ' Mr. Philipp Edmund'],
 ['Katavelas', ' Mr. Vassilios (Catavelas Vassilios")"'],
 ['Roth', ' Miss. Sarah A'],
 ['Cacic', ' Miss. Manda'],
 ['Sap', ' Mr. Julius'],
 ['Hee', ' Mr. Ling'],
 ['Karun', ' Mr. Franz'],
 ['Franklin', ' Mr. Thomas Parham'],
 ['Goldsmith', ' Mr. Nathan'],
 ['Corbett', ' Mrs. Walter H (Irene Colvin)'],
 ['Kimball', ' Mrs. Edwin Nelson Jr (Gertrude Parsons)'],
 ['Peltomaki', ' Mr. Nikolai Johannes'],
 ['Chevre', ' Mr. Paul Romaine'],
 ['Shaughnessy', ' Mr. Patrick'],
 ['Bucknell', ' Mrs. William Robert (Emma Eliza Ward)'],
 ['Coutts', ' Mrs. William (Winnie Minnie" Treanor)"'],
 ['Smith', ' Mr. Lucien Philip'],
 ['Pulbaum', ' Mr. Franz'],
 ['Hocking', ' Miss. Ellen Nellie""'],
 ['Fortune', ' Miss. Ethel Flora'],
 ['Mangiavacchi', ' Mr. Serafino Emilio'],
 ['Rice', ' Master. Albert'],
 ['Cor', ' Mr. Bartol'],
 ['Abelseth', ' Mr. Olaus Jorgensen'],
 ['Davison', ' Mr. Thomas Henry'],
 ['Chaudanson', ' Miss. Victorine'],
 ['Dika', ' Mr. Mirko'],
 ['McCrae', ' Mr. Arthur Gordon'],
 ['Bjorklund', ' Mr. Ernst Herbert'],
 ['Bradley', ' Miss. Bridget Delia'],
 ['Ryerson', ' Master. John Borie'],
 ['Corey', ' Mrs. Percy C (Mary Phyllis Elizabeth Miller)'],
 ['Burns', ' Miss. Mary Delia'],
 ['Moore', ' Mr. Clarence Bloomfield'],
 ['Tucker', ' Mr. Gilbert Milligan Jr'],
 ['Fortune', ' Mrs. Mark (Mary McDougald)'],
 ['Mulvihill', ' Miss. Bertha E'],
 ['Minkoff', ' Mr. Lazar'],
 ['Nieminen', ' Miss. Manta Josefina'],
 ['Ovies y Rodriguez', ' Mr. Servando'],
 ['Geiger', ' Miss. Amalie'],
 ['Keeping', ' Mr. Edwin'],
 ['Miles', ' Mr. Frank'],
 ['Cornell', ' Mrs. Robert Clifford (Malvina Helen Lamson)'],
 ['Aldworth', ' Mr. Charles Augustus'],
 ['Doyle', ' Miss. Elizabeth'],
 ['Boulos', ' Master. Akar'],
 ['Straus', ' Mr. Isidor'],
 ['Case', ' Mr. Howard Brown'],
 ['Demetri', ' Mr. Marinko'],
 ['Lamb', ' Mr. John Joseph'],
 ['Khalil', ' Mr. Betros'],
 ['Barry', ' Miss. Julia'],
 ['Badman', ' Miss. Emily Louisa'],
 ["O'Donoghue", ' Ms. Bridget'],
 ['Wells', ' Master. Ralph Lester'],
 ['Dyker', ' Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)'],
 ['Pedersen', ' Mr. Olaf'],
 ['Davidson', ' Mrs. Thornton (Orian Hays)'],
 ['Guest', ' Mr. Robert'],
 ['Birnbaum', ' Mr. Jakob'],
 ['Tenglin', ' Mr. Gunnar Isidor'],
 ['Cavendish', ' Mrs. Tyrell William (Julia Florence Siegel)'],
 ['Makinen', ' Mr. Kalle Edvard'],
 ['Braf', ' Miss. Elin Ester Maria'],
 ['Nancarrow', ' Mr. William Henry'],
 ['Stengel', ' Mrs. Charles Emil Henry (Annie May Morris)'],
 ['Weisz', ' Mr. Leopold'],
 ['Foley', ' Mr. William'],
 ['Johansson Palmquist', ' Mr. Oskar Leander'],
 ['Thomas', ' Mrs. Alexander (Thamine Thelma")"'],
 ['Holthen', ' Mr. Johan Martin'],
 ['Buckley', ' Mr. Daniel'],
 ['Ryan', ' Mr. Edward'],
 ['Willer', ' Mr. Aaron (Abi Weller")"'],
 ['Swane', ' Mr. George'],
 ['Stanton', ' Mr. Samuel Ward'],
 ['Shine', ' Miss. Ellen Natalia'],
 ['Evans', ' Miss. Edith Corse'],
 ['Buckley', ' Miss. Katherine'],
 ['Straus', ' Mrs. Isidor (Rosalie Ida Blun)'],
 ['Chronopoulos', ' Mr. Demetrios'],
 ['Thomas', ' Mr. John'],
 ['Sandstrom', ' Miss. Beatrice Irene'],
 ['Beattie', ' Mr. Thomson'],
 ['Chapman', ' Mrs. John Henry (Sara Elizabeth Lawry)'],
 ['Watt', ' Miss. Bertha J'],
 ['Kiernan', ' Mr. John'],
 ['Schabert', ' Mrs. Paul (Emma Mock)'],
 ['Carver', ' Mr. Alfred John'],
 ['Kennedy', ' Mr. John'],
 ['Cribb', ' Miss. Laura Alice'],
 ['Brobeck', ' Mr. Karl Rudolf'],
 ['McCoy', ' Miss. Alicia'],
 ['Bowenur', ' Mr. Solomon'],
 ['Petersen', ' Mr. Marius'],
 ['Spinner', ' Mr. Henry John'],
 ['Gracie', ' Col. Archibald IV'],
 ['Lefebre', ' Mrs. Frank (Frances)'],
 ['Thomas', ' Mr. Charles P'],
 ['Dintcheff', ' Mr. Valtcho'],
 ['Carlsson', ' Mr. Carl Robert'],
 ['Zakarian', ' Mr. Mapriededer'],
 ['Schmidt', ' Mr. August'],
 ['Drapkin', ' Miss. Jennie'],
 ['Goodwin', ' Mr. Charles Frederick'],
 ['Goodwin', ' Miss. Jessie Allis'],
 ['Daniels', ' Miss. Sarah'],
 ['Ryerson', ' Mr. Arthur Larned'],
 ['Beauchamp', ' Mr. Henry James'],
 ['Lindeberg-Lind', ' Mr. Erik Gustaf (Mr Edward Lingrey")"'],
 ['Vander Planke', ' Mr. Julius'],
 ['Hilliard', ' Mr. Herbert Henry'],
 ['Davies', ' Mr. Evan'],
 ['Crafton', ' Mr. John Bertram'],
 ['Lahtinen', ' Rev. William'],
 ['Earnshaw', ' Mrs. Boulton (Olive Potter)'],
 ['Matinoff', ' Mr. Nicola'],
 ['Storey', ' Mr. Thomas'],
 ['Klasen', ' Mrs. (Hulda Kristina Eugenia Lofqvist)'],
 ['Asplund', ' Master. Filip Oscar'],
 ['Duquemin', ' Mr. Joseph'],
 ['Bird', ' Miss. Ellen'],
 ['Lundin', ' Miss. Olga Elida'],
 ['Borebank', ' Mr. John James'],
 ['Peacock', ' Mrs. Benjamin (Edith Nile)'],
 ['Smyth', ' Miss. Julia'],
 ['Touma', ' Master. Georges Youssef'],
 ['Wright', ' Miss. Marion'],
 ['Pearce', ' Mr. Ernest'],
 ['Peruschitz', ' Rev. Joseph Maria'],
 ['Kink-Heilmann', ' Mrs. Anton (Luise Heilmann)'],
 ['Brandeis', ' Mr. Emil'],
 ['Ford', ' Mr. Edward Watson'],
 ['Cassebeer', ' Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)'],
 ['Hellstrom', ' Miss. Hilda Maria'],
 ['Lithman', ' Mr. Simon'],
 ['Zakarian', ' Mr. Ortin'],
 ['Dyker', ' Mr. Adolf Fredrik'],
 ['Torfa', ' Mr. Assad'],
 ['Asplund', ' Mr. Carl Oscar Vilhelm Gustafsson'],
 ['Brown', ' Miss. Edith Eileen'],
 ['Sincock', ' Miss. Maude'],
 ['Stengel', ' Mr. Charles Emil Henry'],
 ['Becker', ' Mrs. Allen Oliver (Nellie E Baumgardner)'],
 ['Compton', ' Mrs. Alexander Taylor (Mary Eliza Ingersoll)'],
 ['McCrie', ' Mr. James Matthew'],
 ['Compton', ' Mr. Alexander Taylor Jr'],
 ['Marvin', ' Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)'],
 ['Lane', ' Mr. Patrick'],
 ['Douglas', ' Mrs. Frederick Charles (Mary Helene Baxter)'],
 ['Maybery', ' Mr. Frank Hubert'],
 ['Phillips', ' Miss. Alice Frances Louisa'],
 ['Davies', ' Mr. Joseph'],
 ['Sage', ' Miss. Ada'],
 ['Veal', ' Mr. James'],
 ['Angle', ' Mr. William A'],
 ['Salomon', ' Mr. Abraham L'],
 ['van Billiard', ' Master. Walter John'],
 ['Lingane', ' Mr. John'],
 ['Drew', ' Master. Marshall Brines'],
 ['Karlsson', ' Mr. Julius Konrad Eugen'],
 ['Spedden', ' Master. Robert Douglas'],
 ['Nilsson', ' Miss. Berta Olivia'],
 ['Baimbrigge', ' Mr. Charles Robert'],
 ['Rasmussen', ' Mrs. (Lena Jacobsen Solvang)'],
 ['Murphy', ' Miss. Nora'],
 ['Danbom', ' Master. Gilbert Sigvard Emanuel'],
 ['Astor', ' Col. John Jacob'],
 ['Quick', ' Miss. Winifred Vera'],
 ['Andrew', ' Mr. Frank Thomas'],
 ['Omont', ' Mr. Alfred Fernand'],
 ['McGowan', ' Miss. Katherine'],
 ['Collett', ' Mr. Sidney C Stuart'],
 ['Rosenbaum', ' Miss. Edith Louise'],
 ['Delalic', ' Mr. Redjo'],
 ['Andersen', ' Mr. Albert Karvin'],
 ['Finoli', ' Mr. Luigi'],
 ['Deacon', ' Mr. Percy William'],
 ['Howard', ' Mrs. Benjamin (Ellen Truelove Arman)'],
 ['Andersson', ' Miss. Ida Augusta Margareta'],
 ['Head', ' Mr. Christopher'],
 ['Mahon', ' Miss. Bridget Delia'],
 ['Wick', ' Mr. George Dennick'],
 ['Widener', ' Mrs. George Dunton (Eleanor Elkins)'],
 ['Thomson', ' Mr. Alexander Morrison'],
 ['Duran y More', ' Miss. Florentina'],
 ['Reynolds', ' Mr. Harold J'],
 ['Cook', ' Mrs. (Selena Rogers)'],
 ['Karlsson', ' Mr. Einar Gervasius'],
 ['Candee', ' Mrs. Edward (Helen Churchill Hungerford)'],
 ['Moubarek', ' Mrs. George (Omine Amenia" Alexander)"'],
 ['Asplund', ' Mr. Johan Charles'],
 ['McNeill', ' Miss. Bridget'],
 ['Everett', ' Mr. Thomas James'],
 ['Hocking', ' Mr. Samuel James Metcalfe'],
 ['Sweet', ' Mr. George Frederick'],
 ['Willard', ' Miss. Constance'],
 ['Wiklund', ' Mr. Karl Johan'],
 ['Linehan', ' Mr. Michael'],
 ['Cumings', ' Mr. John Bradley'],
 ['Vendel', ' Mr. Olof Edvin'],
 ['Warren', ' Mr. Frank Manley'],
 ['Baccos', ' Mr. Raffull'],
 ['Hiltunen', ' Miss. Marta'],
 ['Douglas', ' Mrs. Walter Donald (Mahala Dutton)'],
 ['Lindstrom', ' Mrs. Carl Johan (Sigrid Posse)'],
 ['Christy', ' Mrs. (Alice Frances)'],
 ['Spedden', ' Mr. Frederic Oakley'],
 ['Hyman', ' Mr. Abraham'],
 ['Johnston', ' Master. William Arthur Willie""'],
 ['Kenyon', ' Mr. Frederick R'],
 ['Karnes', ' Mrs. J Frank (Claire Bennett)'],
 ['Drew', ' Mr. James Vivian'],
 ['Hold', ' Mrs. Stephen (Annie Margaret Hill)'],
 ['Khalil', ' Mrs. Betros (Zahie Maria" Elias)"'],
 ['West', ' Miss. Barbara J'],
 ['Abrahamsson', ' Mr. Abraham August Johannes'],
 ['Clark', ' Mr. Walter Miller'],
 ['Salander', ' Mr. Karl Johan'],
 ['Wenzel', ' Mr. Linhart'],
 ['MacKay', ' Mr. George William'],
 ['Mahon', ' Mr. John'],
 ['Niklasson', ' Mr. Samuel'],
 ['Bentham', ' Miss. Lilian W'],
 ['Midtsjo', ' Mr. Karl Albert'],
 ['de Messemaeker', ' Mr. Guillaume Joseph'],
 ['Nilsson', ' Mr. August Ferdinand'],
 ['Wells', ' Mrs. Arthur Henry (Addie" Dart Trevaskis)"'],
 ['Klasen', ' Miss. Gertrud Emilia'],
 ['Portaluppi', ' Mr. Emilio Ilario Giuseppe'],
 ['Lyntakoff', ' Mr. Stanko'],
 ['Chisholm', ' Mr. Roderick Robert Crispin'],
 ['Warren', ' Mr. Charles William'],
 ['Howard', ' Miss. May Elizabeth'],
 ['Pokrnic', ' Mr. Mate'],
 ['McCaffry', ' Mr. Thomas Francis'],
 ['Fox', ' Mr. Patrick'],
 ['Clark', ' Mrs. Walter Miller (Virginia McDowell)'],
 ['Lennon', ' Miss. Mary'],
 ['Saade', ' Mr. Jean Nassr'],
 ['Bryhl', ' Miss. Dagmar Jenny Ingeborg '],
 ['Parker', ' Mr. Clifford Richard'],
 ['Faunthorpe', ' Mr. Harry'],
 ['Ware', ' Mr. John James'],
 ['Oxenham', ' Mr. Percy Thomas'],
 ['Oreskovic', ' Miss. Jelka'],
 ['Peacock', ' Master. Alfred Edward'],
 ['Fleming', ' Miss. Honora'],
 ['Touma', ' Miss. Maria Youssef'],
 ['Rosblom', ' Miss. Salli Helena'],
 ['Dennis', ' Mr. William'],
 ['Franklin', ' Mr. Charles (Charles Fardon)'],
 ['Snyder', ' Mr. John Pillsbury'],
 ['Mardirosian', ' Mr. Sarkis'],
 ['Ford', ' Mr. Arthur'],
 ['Rheims', ' Mr. George Alexander Lucien'],
 ['Daly', ' Miss. Margaret Marcella Maggie""'],
 ['Nasr', ' Mr. Mustafa'],
 ['Dodge', ' Dr. Washington'],
 ['Wittevrongel', ' Mr. Camille'],
 ['Angheloff', ' Mr. Minko'],
 ['Laroche', ' Miss. Louise'],
 ['Samaan', ' Mr. Hanna'],
 ['Loring', ' Mr. Joseph Holland'],
 ['Johansson', ' Mr. Nils'],
 ['Olsson', ' Mr. Oscar Wilhelm'],
 ['Malachard', ' Mr. Noel'],
 ['Phillips', ' Mr. Escott Robert'],
 ['Pokrnic', ' Mr. Tome'],
 ['McCarthy', ' Miss. Catherine Katie""'],
 ['Crosby', ' Mrs. Edward Gifford (Catherine Elizabeth Halstead)'],
 ['Allison', ' Mr. Hudson Joshua Creighton'],
 ['Aks', ' Master. Philip Frank'],
 ['Hays', ' Mr. Charles Melville'],
 ['Hansen', ' Mrs. Claus Peter (Jennie L Howard)'],
 ['Cacic', ' Mr. Jego Grga'],
 ['Vartanian', ' Mr. David'],
 ['Sadowitz', ' Mr. Harry'],
 ['Carr', ' Miss. Jeannie'],
 ['White', ' Mrs. John Stuart (Ella Holmes)'],
 ['Hagardon', ' Miss. Kate'],
 ['Spencer', ' Mr. William Augustus'],
 ['Rogers', ' Mr. Reginald Harry'],
 ['Jonsson', ' Mr. Nils Hilding'],
 ['Jefferys', ' Mr. Ernest Wilfred'],
 ['Andersson', ' Mr. Johan Samuel'],
 ['Krekorian', ' Mr. Neshan'],
 ['Nesson', ' Mr. Israel'],
 ['Rowe', ' Mr. Alfred G'],
 ['Kreuchen', ' Miss. Emilie'],
 ['Assam', ' Mr. Ali'],
 ['Becker', ' Miss. Ruth Elizabeth'],
 ['Rosenshine', ' Mr. George (Mr George Thorne")"'],
 ['Clarke', ' Mr. Charles Valentine'],
 ['Enander', ' Mr. Ingvar'],
 ['Davies', ' Mrs. John Morgan (Elizabeth Agnes Mary White) '],
 ['Dulles', ' Mr. William Crothers'],
 ['Thomas', ' Mr. Tannous'],
 ['Nakid', ' Mrs. Said (Waika Mary" Mowad)"'],
 ['Cor', ' Mr. Ivan'],
 ['Maguire', ' Mr. John Edward'],
 ['de Brito', ' Mr. Jose Joaquim'],
 ['Elias', ' Mr. Joseph'],
 ['Denbury', ' Mr. Herbert'],
 ['Betros', ' Master. Seman'],
 ['Fillbrook', ' Mr. Joseph Charles'],
 ['Lundstrom', ' Mr. Thure Edvin'],
 ['Sage', ' Mr. John George'],
 ['Cardeza', ' Mrs. James Warburton Martinez (Charlotte Wardle Drake)'],
 ['van Billiard', ' Master. James William'],
 ['Abelseth', ' Miss. Karen Marie'],
 ['Botsford', ' Mr. William Hull'],
 ['Whabee', ' Mrs. George Joseph (Shawneene Abi-Saab)'],
 ['Giles', ' Mr. Ralph'],
 ['Walcroft', ' Miss. Nellie'],
 ['Greenfield', ' Mrs. Leo David (Blanche Strouse)'],
 ['Stokes', ' Mr. Philip Joseph'],
 ['Dibden', ' Mr. William'],
 ['Herman', ' Mr. Samuel'],
 ['Dean', ' Miss. Elizabeth Gladys Millvina""'],
 ['Julian', ' Mr. Henry Forbes'],
 ['Brown', ' Mrs. John Murray (Caroline Lane Lamson)'],
 ['Lockyer', ' Mr. Edward'],
 ["O'Keefe", ' Mr. Patrick'],
 ['Lindell', ' Mrs. Edvard Bengtsson (Elin Gerda Persson)'],
 ['Sage', ' Master. William Henry'],
 ['Mallet', ' Mrs. Albert (Antoinette Magnin)'],
 ['Ware', ' Mrs. John James (Florence Louise Long)'],
 ['Strilic', ' Mr. Ivan'],
 ['Harder', ' Mrs. George Achilles (Dorothy Annan)'],
 ['Sage', ' Mrs. John (Annie Bullen)'],
 ['Caram', ' Mr. Joseph'],
 ['Riihivouri', ' Miss. Susanna Juhantytar Sanni""'],
 ['Gibson', ' Mrs. Leonard (Pauline C Boeson)'],
 ['Pallas y Castello', ' Mr. Emilio'],
 ['Giles', ' Mr. Edgar'],
 ['Wilson', ' Miss. Helen Alice'],
 ['Ismay', ' Mr. Joseph Bruce'],
 ['Harbeck', ' Mr. William H'],
 ['Dodge', ' Mrs. Washington (Ruth Vidaver)'],
 ['Bowen', ' Miss. Grace Scott'],
 ['Kink', ' Miss. Maria'],
 ['Cotterill', ' Mr. Henry Harry""'],
 ['Hipkins', ' Mr. William Edward'],
 ['Asplund', ' Master. Carl Edgar'],
 ["O'Connor", ' Mr. Patrick'],
 ['Foley', ' Mr. Joseph'],
 ['Risien', ' Mrs. Samuel (Emma)'],
 ['McNamee', " Mrs. Neal (Eileen O'Leary)"],
 ['Wheeler', ' Mr. Edwin Frederick""'],
 ['Herman', ' Miss. Kate'],
 ['Aronsson', ' Mr. Ernst Axel Algot'],
 ['Ashby', ' Mr. John'],
 ['Canavan', ' Mr. Patrick'],
 ['Palsson', ' Master. Paul Folke'],
 ['Payne', ' Mr. Vivian Ponsonby'],
 ['Lines', ' Mrs. Ernest H (Elizabeth Lindsey James)'],
 ['Abbott', ' Master. Eugene Joseph'],
 ['Gilbert', ' Mr. William'],
 ['Kink-Heilmann', ' Mr. Anton'],
 ['Smith', ' Mrs. Lucien Philip (Mary Eloise Hughes)'],
 ['Colbert', ' Mr. Patrick'],
 ['Frolicher-Stehli', ' Mrs. Maxmillian (Margaretha Emerentia Stehli)'],
 ['Larsson-Rondberg', ' Mr. Edvard A'],
 ['Conlon', ' Mr. Thomas Henry'],
 ['Bonnell', ' Miss. Caroline'],
 ['Gale', ' Mr. Harry'],
 ['Gibson', ' Miss. Dorothy Winifred'],
 ['Carrau', ' Mr. Jose Pedro'],
 ['Frauenthal', ' Mr. Isaac Gerald'],
 ['Nourney', ' Mr. Alfred (Baron von Drachstedt")"'],
 ['Ware', ' Mr. William Jeffery'],
 ['Widener', ' Mr. George Dunton'],
 ['Riordan', ' Miss. Johanna Hannah""'],
 ['Peacock', ' Miss. Treasteall'],
 ['Naughton', ' Miss. Hannah'],
 ['Minahan', ' Mrs. William Edward (Lillian E Thorpe)'],
 ['Henriksson', ' Miss. Jenny Lovisa'],
 ['Spector', ' Mr. Woolf'],
 ['Oliva y Ocana', ' Dona. Fermina'],
 ['Saether', ' Mr. Simon Sivertsen'],
 ['Ware', ' Mr. Frederick'],
 ['Peter', ' Master. Michael J']]

In [193]:
status2 = []
for i in status1:
    
    z = i[1].split(".")
    status2.append(z)

In [196]:
status3 = []
for i in status2:
    status3.append(i[0])

In [201]:
status4 = []
for i in status3:
    if (i!=' Mr'and i!=' Mrs' and i!=' Master' and i!=' Miss'):
        
        status4.append('Rare')
    else:
        status4.append(i)

In [203]:
test['Name'] = status4

In [204]:
test['Name'] = le.fit_transform(test['Name'])

In [215]:
test.pop('PassengerId')
test.pop('Ticket')
test.pop('Fare')
test.pop('Cabin')

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12                 B45
13                 NaN
14                 E31
15                 NaN
16                 NaN
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21                 NaN
22                 NaN
23                 NaN
24     B57 B59 B63 B66
25                 NaN
26                 B36
27                 NaN
28                 A21
29                 NaN
            ...
388                NaN
389                NaN
390                B24
391                D28
392                NaN
393                NaN
394                NaN
395                C31
396                NaN
397                B41
398                NaN
399                NaN
400                 C7
401                NaN
402                NaN
403                NaN
404                D40
405                D38
406                NaN
407                C80
408                NaN
409                NaN
410                NaN
411                C78
412                NaN
413                NaN
414               C105
415                NaN
416                NaN
417                NaN
Name: Cabin, Length: 418, dtype: object

In [216]:
test

     Pclass  Name     Sex   Age  SibSp  Parch Embarked
0         3     2    male  34.5      0      0        Q
1         3     3  female  47.0      1      0        S
2         2     2    male  62.0      0      0        Q
3         3     2    male  27.0      0      0        S
4         3     3  female  22.0      1      1        S
5         3     2    male  14.0      0      0        S
6         3     1  female  30.0      0      0        Q
7         2     2    male  26.0      1      1        S
8         3     3  female  18.0      0      0        C
9         3     2    male  21.0      2      0        S
10        3     2    male   NaN      0      0        S
11        1     2    male  46.0      0      0        S
12        1     3  female  23.0      1      0        S
13        2     2    male  63.0      1      0        S
14        1     3  female  47.0      1      0        S
15        2     3  female  24.0      1      0        C
16        2     2    male  35.0      0      0        Q
17        3     2    male  21.0      0      0        C
18        3     1  female  27.0      1      0        S
19        3     3  female  45.0      0      0        C
20        1     2    male  55.0      1      0        C
21        3     0    male   9.0      0      1        S
22        1     3  female   NaN      0      0        S
23        1     2    male  21.0      0      1        C
24        1     3  female  48.0      1      3        C
25        3     2    male  50.0      1      0        S
26        1     1  female  22.0      0      1        C
27        3     2    male  22.5      0      0        C
28        1     2    male  41.0      0      0        S
29        3     2    male   NaN      2      0        C
..      ...   ...     ...   ...    ...    ...      ...
388       3     2    male  21.0      0      0        Q
389       3     0    male   6.0      3      1        S
390       1     2    male  23.0      0      0        S
391       1     3  female  51.0      0      1        S
392       3     0    male  13.0      0      2        S
393       2     2    male  47.0      0      0        S
394       3     2    male  29.0      3      1        S
395       1     3  female  18.0      1      0        S
396       3     2    male  24.0      0      0        Q
397       1     3  female  48.0      1      1        C
398       3     2    male  22.0      0      0        S
399       3     2    male  31.0      0      0        Q
400       1     1  female  30.0      0      0        S
401       2     2    male  38.0      1      0        S
402       1     1  female  22.0      0      1        C
403       1     2    male  17.0      0      0        S
404       1     2    male  43.0      1      0        C
405       2     2    male  20.0      0      0        C
406       2     2    male  23.0      1      0        S
407       1     2    male  50.0      1      1        C
408       3     1  female   NaN      0      0        Q
409       3     1  female   3.0      1      1        S
410       3     1  female   NaN      0      0        Q
411       1     3  female  37.0      1      0        Q
412       3     1  female  28.0      0      0        S
413       3     2    male   NaN      0      0        S
414       1     4  female  39.0      0      0        C
415       3     2    male  38.5      0      0        S
416       3     2    male   NaN      0      0        S
417       3     0    male   NaN      1      1        C

[418 rows x 7 columns]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,2,male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,3,female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,2,male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,2,male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,3,female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,2,male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,1,female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,2,male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,3,female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,2,male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,2,male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,2,male,46.0,0,0,694,26.0000,NaN,S
12,904,1,3,female,23.0,1,0,21228,82.2667,B45,S
13,905,2,2,male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,3,female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,3,female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,2,male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,2,male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,1,female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,3,female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,2,male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,0,male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,3,female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,2,male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,3,female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,2,male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,1,female,22.0,0,1,113509,61.9792,B36,C
27,919,3,2,male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,2,male,41.0,0,0,113054,30.5000,A21,S
29,921,3,2,male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,2,male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,0,male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,2,male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,3,female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,0,male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,2,male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,2,male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,3,female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,2,male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,3,female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,2,male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,2,male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,1,female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,2,male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,1,female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,2,male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,2,male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,2,male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,2,male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,2,male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,1,female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,1,female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,1,female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,3,female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,1,female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,2,male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,4,female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,2,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,2,male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,0,male,NaN,1,1,2668,22.3583,NaN,C

In [217]:
test['Sex'] = le.fit_transform(test['Sex'])

In [218]:
test['Embarked'] = le.fit_transform(test['Embarked'])

In [219]:
test

     Pclass  Name  Sex   Age  SibSp  Parch  Embarked
0         3     2    1  34.5      0      0         1
1         3     3    0  47.0      1      0         2
2         2     2    1  62.0      0      0         1
3         3     2    1  27.0      0      0         2
4         3     3    0  22.0      1      1         2
5         3     2    1  14.0      0      0         2
6         3     1    0  30.0      0      0         1
7         2     2    1  26.0      1      1         2
8         3     3    0  18.0      0      0         0
9         3     2    1  21.0      2      0         2
10        3     2    1   NaN      0      0         2
11        1     2    1  46.0      0      0         2
12        1     3    0  23.0      1      0         2
13        2     2    1  63.0      1      0         2
14        1     3    0  47.0      1      0         2
15        2     3    0  24.0      1      0         0
16        2     2    1  35.0      0      0         1
17        3     2    1  21.0      0      0         0
18        3     1    0  27.0      1      0         2
19        3     3    0  45.0      0      0         0
20        1     2    1  55.0      1      0         0
21        3     0    1   9.0      0      1         2
22        1     3    0   NaN      0      0         2
23        1     2    1  21.0      0      1         0
24        1     3    0  48.0      1      3         0
25        3     2    1  50.0      1      0         2
26        1     1    0  22.0      0      1         0
27        3     2    1  22.5      0      0         0
28        1     2    1  41.0      0      0         2
29        3     2    1   NaN      2      0         0
..      ...   ...  ...   ...    ...    ...       ...
388       3     2    1  21.0      0      0         1
389       3     0    1   6.0      3      1         2
390       1     2    1  23.0      0      0         2
391       1     3    0  51.0      0      1         2
392       3     0    1  13.0      0      2         2
393       2     2    1  47.0      0      0         2
394       3     2    1  29.0      3      1         2
395       1     3    0  18.0      1      0         2
396       3     2    1  24.0      0      0         1
397       1     3    0  48.0      1      1         0
398       3     2    1  22.0      0      0         2
399       3     2    1  31.0      0      0         1
400       1     1    0  30.0      0      0         2
401       2     2    1  38.0      1      0         2
402       1     1    0  22.0      0      1         0
403       1     2    1  17.0      0      0         2
404       1     2    1  43.0      1      0         0
405       2     2    1  20.0      0      0         0
406       2     2    1  23.0      1      0         2
407       1     2    1  50.0      1      1         0
408       3     1    0   NaN      0      0         1
409       3     1    0   3.0      1      1         2
410       3     1    0   NaN      0      0         1
411       1     3    0  37.0      1      0         1
412       3     1    0  28.0      0      0         2
413       3     2    1   NaN      0      0         2
414       1     4    0  39.0      0      0         0
415       3     2    1  38.5      0      0         2
416       3     2    1   NaN      0      0         2
417       3     0    1   NaN      1      1         0

[418 rows x 7 columns]

In [220]:
test.describe()

,Pclass,Name,Sex,Age,SibSp,Parch,Embarked
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,418.000000
mean,2.265550,1.918660,0.636364,30.272590,0.447368,0.392344,1.401914
std,0.841838,0.788458,0.481622,14.181209,0.896760,0.981429,0.854496
min,1.000000,0.000000,0.000000,0.170000,0.000000,0.000000,0.000000
25%,1.000000,2.000000,0.000000,21.000000,0.000000,0.000000,1.000000
50%,3.000000,2.000000,1.000000,27.000000,0.000000,0.000000,2.000000
75%,3.000000,2.000000,1.000000,39.000000,1.000000,0.000000,2.000000
max,3.000000,4.000000,1.000000,76.000000,8.000000,9.000000,2.000000

In [222]:
test['Age'] = test['Age'].fillna('30.27')

In [223]:
test

     Pclass  Name  Sex    Age  SibSp  Parch  Embarked
0         3     2    1   34.5      0      0         1
1         3     3    0     47      1      0         2
2         2     2    1     62      0      0         1
3         3     2    1     27      0      0         2
4         3     3    0     22      1      1         2
5         3     2    1     14      0      0         2
6         3     1    0     30      0      0         1
7         2     2    1     26      1      1         2
8         3     3    0     18      0      0         0
9         3     2    1     21      2      0         2
10        3     2    1  30.27      0      0         2
11        1     2    1     46      0      0         2
12        1     3    0     23      1      0         2
13        2     2    1     63      1      0         2
14        1     3    0     47      1      0         2
15        2     3    0     24      1      0         0
16        2     2    1     35      0      0         1
17        3     2    1     21      0      0         0
18        3     1    0     27      1      0         2
19        3     3    0     45      0      0         0
20        1     2    1     55      1      0         0
21        3     0    1      9      0      1         2
22        1     3    0  30.27      0      0         2
23        1     2    1     21      0      1         0
24        1     3    0     48      1      3         0
25        3     2    1     50      1      0         2
26        1     1    0     22      0      1         0
27        3     2    1   22.5      0      0         0
28        1     2    1     41      0      0         2
29        3     2    1  30.27      2      0         0
..      ...   ...  ...    ...    ...    ...       ...
388       3     2    1     21      0      0         1
389       3     0    1      6      3      1         2
390       1     2    1     23      0      0         2
391       1     3    0     51      0      1         2
392       3     0    1     13      0      2         2
393       2     2    1     47      0      0         2
394       3     2    1     29      3      1         2
395       1     3    0     18      1      0         2
396       3     2    1     24      0      0         1
397       1     3    0     48      1      1         0
398       3     2    1     22      0      0         2
399       3     2    1     31      0      0         1
400       1     1    0     30      0      0         2
401       2     2    1     38      1      0         2
402       1     1    0     22      0      1         0
403       1     2    1     17      0      0         2
404       1     2    1     43      1      0         0
405       2     2    1     20      0      0         0
406       2     2    1     23      1      0         2
407       1     2    1     50      1      1         0
408       3     1    0  30.27      0      0         1
409       3     1    0      3      1      1         2
410       3     1    0  30.27      0      0         1
411       1     3    0     37      1      0         1
412       3     1    0     28      0      0         2
413       3     2    1  30.27      0      0         2
414       1     4    0     39      0      0         0
415       3     2    1   38.5      0      0         2
416       3     2    1  30.27      0      0         2
417       3     0    1  30.27      1      1         0

[418 rows x 7 columns]

In [245]:
pred = classifier.predict(test)

In [225]:
married1 = []
for i in status4:
    if i == ' Mr' or i == ' Mrs':
        married1.append(1)
    else:
        married1.append(0)

In [227]:
test['Married'] = married1

In [230]:
test.pop('Parch')

0      0
1      0
2      0
3      0
4      1
5      0
6      0
7      1
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     1
22     0
23     1
24     3
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    1
390    0
391    1
392    2
393    0
394    1
395    0
396    0
397    1
398    0
399    0
400    0
401    0
402    1
403    0
404    0
405    0
406    0
407    1
408    0
409    1
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    1
Name: Parch, Length: 418, dtype: int64

In [235]:
df

     Pclass  Name  Sex    Age  SibSp  Embarked  Married  Survived
0         3     2    1     22      1         2        1         0
1         1     3    0     38      1         0        1         1
2         3     1    0     26      0         2        0         1
3         1     3    0     35      1         2        1         1
4         3     2    1     35      0         2        1         0
5         3     2    1  29.69      0         1        1         0
6         1     2    1     54      0         2        1         0
7         3     0    1      2      3         2        0         0
8         3     3    0     27      0         2        1         1
9         2     3    0     14      1         0        1         1
10        3     1    0      4      1         2        0         1
11        1     1    0     58      0         2        0         1
12        3     2    1     20      0         2        1         0
13        3     2    1     39      1         2        1         0
14        3     1    0     14      0         2        0         0
15        2     3    0     55      0         2        1         1
16        3     0    1      2      4         1        0         0
17        2     2    1  29.69      0         2        1         1
18        3     3    0     31      1         2        1         0
19        3     3    0  29.69      0         0        1         1
20        2     2    1     35      0         2        1         0
21        2     2    1     34      0         2        1         1
22        3     1    0     15      0         1        0         1
23        1     2    1     28      0         2        1         1
24        3     1    0      8      3         2        0         0
25        3     3    0     38      1         2        1         1
26        3     2    1  29.69      0         0        1         0
27        1     2    1     19      3         2        1         0
28        3     1    0  29.69      0         1        0         1
29        3     2    1  29.69      0         2        1         0
..      ...   ...  ...    ...    ...       ...      ...       ...
861       2     2    1     21      1         2        1         0
862       1     3    0     48      0         2        1         1
863       3     1    0  29.69      8         2        0         0
864       2     2    1     24      0         2        1         0
865       2     3    0     42      0         2        1         1
866       2     1    0     27      1         0        0         1
867       1     2    1     31      0         2        1         0
868       3     2    1  29.69      0         2        1         0
869       3     0    1      4      1         2        0         1
870       3     2    1     26      0         2        1         0
871       1     3    0     47      1         2        1         1
872       1     2    1     33      0         2        1         0
873       3     2    1     47      0         2        1         0
874       2     3    0     28      1         0        1         1
875       3     1    0     15      0         0        0         1
876       3     2    1     20      0         2        1         0
877       3     2    1     19      0         2        1         0
878       3     2    1  29.69      0         2        1         0
879       1     3    0     56      0         0        1         1
880       2     3    0     25      0         2        1         1
881       3     2    1     33      0         2        1         0
882       3     1    0     22      0         2        0         0
883       2     2    1     28      0         2        1         0
884       3     2    1     25      0         2        1         0
885       3     3    0     39      0         1        1         0
886       2     4    1     27      0         2        0         0
887       1     1    0     19      0         2        0         1
888       3     1    0  29.69      1         2        0         0
889       1     2    1     26      0         0        1         1
890       3     2    1     32      0         1        1         0

[891 rows x 8 columns]

In [246]:
pred

array([[0.12530255],
       [0.5533283 ],
       [0.21000037],
       [0.10889816],
       [0.6134631 ],
       [0.12204474],
       [0.67954147],
       [0.1744608 ],
       [0.78934133],
       [0.06017053],
       [0.10579297],
       [0.37547085],
       [0.8621051 ],
       [0.12774673],
       [0.8621051 ],
       [0.8580631 ],
       [0.2578187 ],
       [0.17134508],
       [0.5486461 ],
       [0.7414222 ],
       [0.38118508],
       [0.8621051 ],
       [0.8621051 ],
       [0.5511717 ],
       [0.8621051 ],
       [0.06398657],
       [0.8621051 ],
       [0.16924465],
       [0.38716048],
       [0.08518246],
       [0.1428042 ],
       [0.1315318 ],
       [0.58731484],
       [0.59385675],
       [0.44108605],
       [0.17489174],
       [0.62615603],
       [0.64740056],
       [0.11083657],
       [0.10579297],
       [0.14747864],
       [0.4126738 ],
       [0.09614649],
       [0.8356676 ],
       [0.8621051 ],
       [0.11083657],
       [0.49188858],
       [0.12996992],
       [0.8621051 ],
       [0.66287017],
       [0.34439924],
       [0.32195053],
       [0.6904822 ],
       [0.779179  ],
       [0.31491715],
       [0.03457823],
       [0.1014396 ],
       [0.11083657],
       [0.07674479],
       [0.8621051 ],
       [0.11889458],
       [0.22083041],
       [0.11786032],
       [0.69655585],
       [0.3456127 ],
       [0.83529985],
       [0.70486915],
       [0.37314978],
       [0.52655005],
       [0.8621051 ],
       [0.6923501 ],
       [0.11480406],
       [0.6290976 ],
       [0.5327223 ],
       [0.8621051 ],
       [0.5228426 ],
       [0.10579297],
       [0.8268416 ],
       [0.2242598 ],
       [0.6923501 ],
       [0.8621051 ],
       [0.2554208 ],
       [0.3685252 ],
       [0.10579297],
       [0.26688993],
       [0.11701947],
       [0.6859813 ],
       [0.6710064 ],
       [0.8134339 ],
       [0.8621051 ],
       [0.6134631 ],
       [0.10579297],
       [0.8621051 ],
       [0.10579297],
       [0.5413463 ],
       [0.11083657],
       [0.84660923],
       [0.1069895 ],
       [0.6496596 ],
       [0.10326064],
       [0.8621051 ],
       [0.17303804],
       [0.12996992],
       [0.10986358],
       [0.72865605],
       [0.10794014],
       [0.14071634],
       [0.12996992],
       [0.10579297],
       [0.2447077 ],
       [0.2924383 ],
       [0.67895854],
       [0.8621051 ],
       [0.7038372 ],
       [0.8621051 ],
       [0.13018104],
       [0.15869161],
       [0.8621051 ],
       [0.5141829 ],
       [0.7830082 ],
       [0.8621051 ],
       [0.09498861],
       [0.8621051 ],
       [0.10794014],
       [0.12996992],
       [0.721504  ],
       [0.11380076],
       [0.5107624 ],
       [0.20425013],
       [0.11181703],
       [0.10418198],
       [0.65379906],
       [0.6754411 ],
       [0.11701947],
       [0.09443775],
       [0.11181703],
       [0.16374373],
       [0.23123154],
       [0.6428628 ],
       [0.07018507],
       [0.25957382],
       [0.8621051 ],
       [0.36726108],
       [0.22772685],
       [0.38481158],
       [0.0391435 ],
       [0.4126738 ],
       [0.11380076],
       [0.4126738 ],
       [0.3001749 ],
       [0.8621051 ],
       [0.15869161],
       [0.08061266],
       [0.66287017],
       [0.026797  ],
       [0.11181703],
       [0.8621051 ],
       [0.6428628 ],
       [0.38481158],
       [0.6846484 ],
       [0.67895854],
       [0.8580816 ],
       [0.80982053],
       [0.10579297],
       [0.3537686 ],
       [0.6040216 ],
       [0.48445994],
       [0.06187397],
       [0.8621051 ],
       [0.6451349 ],
       [0.10579297],
       [0.16306633],
       [0.08200812],
       [0.15869161],
       [0.07018507],
       [0.8260462 ],
       [0.81881034],
       [0.38352552],
       [0.82733786],
       [0.8621051 ],
       [0.2242598 ],
       [0.42405954],
       [0.8621051 ],
       [0.12996992],
       [0.8621051 ],
       [0.2074905 ],
       [0.81733537],
       [0.06245181],
       [0.0904648 ],
       [0.2074905 ],
       [0.16333485],
       [0.4126738 ],
       [0.74034137],
       [0.2116493 ],
       [0.8621051 ],
       [0.10326064],
       [0.8621051 ],
       [0.6710064 ],
       [0.23655897],
       [0.6754411 ],
       [0.67895854],
       [0.8621051 ],
       [0.58474374],
       [0.7837237 ],
       [0.23299804],
       [0.5283532 ],
       [0.668656  ],
       [0.23477387],
       [0.8621051 ],
       [0.11083657],
       [0.10418198],
       [0.10579297],
       [0.24746573],
       [0.72632474],
       [0.27433974],
       [0.38481158],
       [0.67895854],
       [0.27472103],
       [0.8621051 ],
       [0.10579297],
       [0.8209347 ],
       [0.11480406],
       [0.84626794],
       [0.11480406],
       [0.8621051 ],
       [0.7684103 ],
       [0.11280516],
       [0.67895854],
       [0.09657797],
       [0.21408486],
       [0.253044  ],
       [0.8621051 ],
       [0.08351275],
       [0.12996992],
       [0.419226  ],
       [0.11581501],
       [0.36037958],
       [0.17275685],
       [0.7640769 ],
       [0.8621051 ],
       [0.8621051 ],
       [0.81422204],
       [0.40482152],
       [0.10579297],
       [0.06270489],
       [0.3074154 ],
       [0.84626794],
       [0.15278712],
       [0.7830082 ],
       [0.6998093 ],
       [0.8621051 ],
       [0.11581501],
       [0.44842803],
       [0.11181703],
       [0.10372034],
       [0.10579297],
       [0.12996992],
       [0.10794014],
       [0.820276  ],
       [0.11480406],
       [0.07248273],
       [0.11480406],
       [0.8370241 ],
       [0.8621051 ],
       [0.31549478],
       [0.10579297],
       [0.4126738 ],
       [0.10579297],
       [0.62615603],
       [0.11889458],
       [0.4894118 ],
       [0.12996992],
       [0.8621051 ],
       [0.5977318 ],
       [0.15869161],
       [0.7604852 ],
       [0.22772685],
       [0.15537047],
       [0.16882476],
       [0.23835355],
       [0.6428628 ],
       [0.8621051 ],
       [0.67895854],
       [0.6984759 ],
       [0.8621051 ],
       [0.10053983],
       [0.10579297],
       [0.34439924],
       [0.15869161],
       [0.10579297],
       [0.4126738 ],
       [0.67954147],
       [0.15869161],
       [0.45421758],
       [0.10053983],
       [0.10986358],
       [0.8621051 ],
       [0.08518246],
       [0.41332245],
       [0.1069895 ],
       [0.10418198],
       [0.31491715],
       [0.20264402],
       [0.11181703],
       [0.67895854],
       [0.86142516],
       [0.3311001 ],
       [0.8621051 ],
       [0.27868795],
       [0.5582219 ],
       [0.11786032],
       [0.16994256],
       [0.10579297],
       [0.6642499 ],
       [0.8621051 ],
       [0.7069266 ],
       [0.3765207 ],
       [0.24379301],
       [0.10889816],
       [0.1338126 ],
       [0.10986358],
       [0.16578951],
       [0.23123154],
       [0.40613192],
       [0.8621051 ],
       [0.11280516],
       [0.7071661 ],
       [0.4894118 ],
       [0.17022002],
       [0.24015737],
       [0.8096826 ],
       [0.5067534 ],
       [0.15869161],
       [0.7227377 ],
       [0.10889816],
       [0.41332245],
       [0.22083041],
       [0.14747864],
       [0.23299804],
       [0.13180032],
       [0.24562475],
       [0.10418198],
       [0.07674479],
       [0.8621051 ],
       [0.06270489],
       [0.76694274],
       [0.23123154],
       [0.754498  ],
       [0.23477387],
       [0.80207145],
       [0.8621051 ],
       [0.23299804],
       [0.24562475],
       [0.14402172],
       [0.8621051 ],
       [0.3662219 ],
       [0.821092  ],
       [0.10579297],
       [0.12996992],
       [0.594502  ],
       [0.00656745],
       [0.8580631 ],
       [0.83430207],
       [0.10889816],
       [0.8621051 ],
       [0.59385675],
       [0.11701947],
       [0.6451349 ],
       [0.8621051 ],
       [0.31763884],
       [0.18171313],
       [0.8621051 ],
       [0.3685252 ],
       [0.20104739],
       [0.8621051 ],
       [0.8621051 ],
       [0.47297347],
       [0.24015737],
       [0.3547985 ],
       [0.06524706],
       [0.12996992],
       [0.1348306 ],
       [0.6754411 ],
       [0.62048906],
       [0.22379458],
       [0.75319004],
       [0.11181703],
       [0.18114656],
       [0.14071634],
       [0.24114239],
       [0.43023974],
       [0.8621051 ],
       [0.8621051 ],
       [0.19631407],
       [0.03989589],
       [0.8621051 ],
       [0.13715953],
       [0.8621051 ],
       [0.11380076],
       [0.12915406],
       [0.8621051 ],
       [0.1579895 ],
       [0.8621051 ],
       [0.4448727 ],
       [0.409606  ],
       [0.337278  ],
       [0.1787844 ],
       [0.39294064],
       [0.67895854],
       [0.8621051 ],
       [0.67895854],
       [0.8621051 ],
       [0.6314071 ],
       [0.10579297],
       [0.8621051 ],
       [0.09832126],
       [0.10579295],
       [0.09638084]], dtype=float32)